.loginCard {
  height: 100%;
  display: flex;
  align-items: center; }
  .loginCard h1,
  .loginCard h2 {
    width: 100%;
    text-align: center; }
  .loginCard input {
    width: 100%; }
  .loginCard img {
    margin-bottom: 70px;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.6)); }
  .loginCard .login-logo {
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.6));
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 50px; }
  .loginCard .ship-logo {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
