.torpedo-loading {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
  .torpedoButton {
    position: absolute;
    right: 10%;
    top: 10%;
    width: 50%;
  }
  .torpedoPickScroll {
    width: 100%;
    overflow-x: scroll;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      #fff 5%,
      #fff 95%,
      transparent 100%
    );
  }
  .torpedoImage {
    width: 468px;
  }
  .torpedo-loader {
    width: 500px;
    height: 200px;
    margin: 20px;
    position: relative;
    &.fire {
      margin: 0 40px;
    }
  }
  .torpedoHolder {
    width: 66px;
    overflow: hidden;
    height: 157px;
    position: absolute;
    left: 46px;
    .torpedo {
      width: 60px;
      height: 20px;
      position: absolute;
    }
  }
  .torpedoPicker {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    .torpedoPick {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 50%;
      }
    }
  }
  @media (width: 1024px) {
    .torpedoImage {
      margin-top: 60px;
    }
    .torpedoHolder {
      width: 48px;
      overflow: hidden;
      height: 100px;
      position: absolute;
      left: 27px;
      top: 61px;
      .torpedo {
        width: 42px;
        height: 14px;
        position: absolute;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.core {
  ::-webkit-scrollbar {
    width: 6px;
  }
}
