.probe-control {
  .probe-name {
    margin-bottom: 0;
  }
  h1 {
    height: 48px;
  }
  small {
    margin-top: 0;
  }
  .probe-list {
    padding: 2px;
    &.selected {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
    }
  }
  .equipment {
    height: 60vh;
    overflow-y: scroll;
  }
  .querying {
    font-size: 33px;
  }
  .results {
    white-space: pre-wrap;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: 20px 0;
    height: 30vh;
    width: 100%;
    overflow-y: scroll;
  }
}

.probe-control-core {
  .row {
    min-height: 200px;
    height: 100%;
  }
  .probelist {
    background-color: #eee;
    color: #333;
    padding: 2px;
    height: 100%;
    .selected {
      background-color: #aaa;
    }
    p.querying {
      color: red;
    }
  }
  .response {
  }
}
