.core-iifx {
  display: grid;
  margin-right: 20px;
  height: calc(100vh - 26px);
  grid-template-columns: 120px 60px 180px 1fr 1fr 300px 15%;
  grid-template-rows: 40px 100px 40px 180px 1fr 100px 100px 120px;
  grid-template-areas:
    "engineControl engineControl  securityDoors      securityTeams      damageTeams     shortRange            systems"
    "thrusters     thrusters      securityDoors      securityTeams      damageTeams     shortRange            systems"
    "thrusters     thrusters      securityDoors        securityTeams    damageTeams     shortRange            systems"
    "stealthField  stealthField   securityDoors     crew             crew         commConvo        systems"
    "probeControl       probeControl        probeControl            sensorScans          longRange      internalComm         systems"
    "cargo  cargo   cargo    sensorScans         longRange      damageReports   damageReports"
    "cargo  cargo   cargo    extras         shuttles         damageReports   damageReports"
    "reactor       reactor        probeNetwork    actions         shuttles     damageReports   damageReports";
  & > div {
    overflow: hidden;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #333;
  }
  .inner-core-area {
    display: flex;
    flex-direction: column;
    & > div {
      flex: 1;
      max-height: calc(100% - 16px);
      overflow-y: auto;
    }
  }
  .TransporterCore {
    grid-area: transporters;
  }
  .SensorsCore {
    grid-area: sensorScans;
  }
  .DecodingCore {
    grid-area: longRange;
  }
  .LRCommCore {
    grid-area: messageSending;
  }
  .InternalCommCore {
    grid-area: internalComm;
  }
  .SystemsCore {
    grid-area: systems;
  }
  .CommShortRangeCore {
    grid-area: shortRange;
  }
  .RemoteCore {
    grid-area: remoteAccess;
  }
  .DamageReportsCore {
    grid-area: damageReports;
  }
  .DecksCore {
    grid-area: nothing;
  }
  .CargoCore {
    grid-area: cargo;
  }
  .ActionsCore {
    grid-area: actions;
  }
  .ThrusterCore {
    grid-area: thrusters;
  }
  .StealthFieldCore {
    grid-area: stealthField;
  }
  .TractorBeamCore {
    grid-area: tractorBeam;
  }
  .CrewCore {
    grid-area: crew;
  }
  .SecurityTeamsCore {
    grid-area: securityTeams;
  }
  .DamageTeamsCore {
    grid-area: damageTeams;
  }
  .ProbeNetworkCore {
    grid-area: probeNetwork;
  }
  .ProbeControlCore {
    grid-area: probeControl;
  }
  .ReactorControlCore {
    grid-area: reactor;
  }
  .ViewscreenCore {
    grid-area: viewscreen;
  }
  .TimelineCore {
    grid-area: timeline;
  }
  .ShuttlesCore {
    grid-area: shuttles;
  }
  .SecurityDecksCore {
    grid-area: securityDoors;
  }
  .ExtrasCore {
    grid-area: extras;
  }
  .CommConvoCore {
    grid-area: commConvo;
  }
}
