.status-card {
  height: 100%;
  .row {
    height: 100%;
  }
  label {
    font-size: 18px;
  }
  .statusDots {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .status-field {
    color: #fff;
    border: 0px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    padding-left: 15px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75),
      5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 0 0 10px 0;
  }
  .damaged-systems-list {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .damage-list {
    flex: 1;
    overflow-y: scroll;
    p {
      margin-bottom: 0.25rem;
    }
  }
  .button-container {
    display: flex;

    .alert-button {
      text-align: center;
      flex: 1;
      height: 0;
      padding-top: calc((100% - (10px * 5)) / 5 / 2);
      padding-bottom: calc((100% - (10px * 5)) / 5 / 2);
      line-height: 0;
      font-size: 24px;
      color: white;
      border: solid 2px darken(silver, 20%);
      margin: 5px;
      border-radius: 10px;
      cursor: pointer;
      background: radial-gradient(
          ellipse at center,
          transparent 0%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        linear-gradient(165deg, #000000 0%, transparent 50%, #000000 100%);
      outline: none;
      &.alert-1 {
        background-color: darken(red, 20%);
        box-shadow: 0px 0px 8px darken(red, 20%),
          inset 0px 0px 8px darken(red, 20%);
      }
      &.alert-3 {
        background-color: darken(yellow, 20%);
        box-shadow: 0px 0px 8px darken(yellow, 20%),
          inset 0px 0px 8px darken(yellow, 20%);
      }
      &.alert-2 {
        background-color: darken(orange, 20%);
        box-shadow: 0px 0px 8px darken(orange, 20%),
          inset 0px 0px 8px darken(orange, 20%);
      }
      &.alert-4 {
        background-color: darken(green, 10%);
        box-shadow: 0px 0px 8px darken(green, 10%),
          inset 0px 0px 8px darken(green, 10%);
      }
      &.alert-5 {
        background-color: darken(rgb(0, 128, 255), 20%);
        box-shadow: 0px 0px 8px darken(rgb(0, 128, 255), 20%),
          inset 0px 0px 8px darken(rgb(0, 128, 255), 20%);
      }
    }
  }

  .stealth {
    width: 100%;
    transform: rotate(270deg);
    .status-ship {
      width: 100%;
    }
    #stealth-canvas {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background-color: gray;
      position: absolute;
      mix-blend-mode: multiply;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
    }
  }
  .shieldBubble {
    padding: 50px;
    margin: 10px;
    border-radius: 50%;
    transition: box-shadow 2s ease-in-out;
    position: absolute;
  }
}
