.config-container {
  height: 100%;
  background-color: #111;
  background: url(../components/credit-bg.jpg);
  color: white;
  .card {
    border: solid 1px rgba(255, 255, 255, 0.1);
    background: transparent;
  }
  .list-group {
    background: transparent;
  }
  .list-group-item {
    background-color: rgba(0, 0, 0, 0.8);
  }
  input,
  .form-control {
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px rgba(255, 255, 255, 0.2);
    color: white;
    &:focus {
      background-color: rgba(0, 0, 0, 0.7);
      border: solid 1px rgba(255, 255, 255, 0.2);
      color: white;
    }
  }
  .contextMenu {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  .dropdown-menu,
  .dropdown-item {
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px rgba(255, 255, 255, 0.2);
    color: white;
  }
  .loading {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1,
    h4 {
      color: white;
    }
    svg {
      width: 20%;
      height: 20%;
      animation: spinloader 0.5s linear infinite;
    }
    svg path,
    svg rect {
      fill: #ff6700;
    }
  }
}
