$alert5: #233f7a;
$alert3: #4d4d16;
$alert2: #804d19;
$alert1: #801919;
$alertp: #4d1980;
.card-signalJammer {
  .captions {
    display: flex;
    justify-content: space-between;
    h4 {
      flex: 1;
    }
  }
  .signal-container {
    height: 50vh;
    div {
      height: 100%;
    }
  }
  .signal-lines {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .rangeslider {
    background-color: #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    .rangeslider__handle {
      border: solid 1px #333;
    }
    &.alertColor5,
    &.alertColor4 {
      .rangeslider__handle {
        background-color: $alert5;
        &::after {
          background-color: darken($alert5, 10%);
        }
      }
    }
    &.alertColor3 {
      .rangeslider__handle {
        background-color: $alert3;
        &::after {
          background-color: darken($alert3, 10%);
        }
      }
    }
    &.alertColor2 {
      .rangeslider__handle {
        background-color: $alert2;
        &::after {
          background-color: darken($alert2, 10%);
        }
      }
    }
    &.alertColor1 {
      .rangeslider__handle {
        background-color: $alert1;
        &::after {
          background-color: darken($alert1, 10%);
        }
      }
    }
    &.alertColorp {
      .rangeslider__handle {
        background-color: $alertp;
        &::after {
          background-color: darken($alertp, 10%);
        }
      }
    }
  }
  .signal-power {
    height: 100%;
  }
  .power-slider {
    height: 100%;
    .rangeslider__fill {
      background-color: #922110;
    }
  }
}
