.shuttles-card {
  .col {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .shuttle {
    display: flex;
    justify-content: center;
  }
  .door {
    background-color: #222;
    border: solid 2px white;
    overflow: hidden;
    .door-container {
      background: url('./stars.svg');      
      clip-path: polygon(1% 94%, 99% 94%, 99% 25%, 78% 4%, 22% 4%, 1% 25%);
    }
    svg {
      transition: transform 2s ease;
      &.open {
        transform: translateY(-90%);
      }
    }
  }
  .fizzlefade {
    width: 100%;
    canvas {
      width: 100%;
      padding: 4px;
      border: solid 2px white;
    }
  }
}