.core {
  font-family: "Gill Sans", sans-serif;
  line-height: 16px;
  font-size: 12px;
  color: white;
  .input-field,
  .output-field,
  .typing-field {
    color: #000;
  }
  // Override some bootstrap stuff
  .col-xs,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12 {
    padding-right: 2px;
    padding-left: 2px;
  }
  .container,
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .row {
    margin: 0;
  }
  input:not([type="checkbox"]) {
    width: 100%;
  }
  .btn-sm {
    padding: 0rem 0.5rem;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  label {
    margin: 0px 5px;
  }
  .table-sm th,
  .table-sm td {
    padding: 0;
  }
  .btn-block + .btn-block {
    margin-top: 0;
  }
  p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  .card {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.hotkey-core {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
  //transition: all 0.2s ease;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  &.showing {
    pointer-events: all;
    transform: scale(1);
    border-radius: 0px;
    opacity: 1;
  }
  .hotkey-core-cores {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .hotkey-core-comp {
    margin: 10px;
    padding: 10px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;

    overflow: hidden;
  }
}
