.probe-construction {
  .probe-container {
    display: flex;
    height: 40vh;
    .probe-type {
      position: absolute;
      flex: 1 1 10px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      img {
        transition: transform 0.5s ease-in-out;
      }
      &.probeSelected {
        opacity: 0;
        &.selected {
          transform: transformX(500%) !important;
          opacity: 1;
          p {
            opacity: 0;
          }
          img {
            transform: rotate(90deg) scale(1.5);
          }
        }
      }
    }
  }
}