.powerLevels {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  h5 {
    float: left;
    font-size: 18px;
    padding-top: 12px;
  }
  .totalPowerText {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px rgba(255,255,255,0.5);
  }
  .powerLine {
    margin: 10px;
    height: 20px;
    position: relative;
    display: flex;
    .powerLevel{
      height: 100%;
      width: 3px;
      position: absolute;
      background-color: yellow;
      border-radius: 50px;
    }
    .powerBox {
      margin-right: 4px;
      height: 100%;
      width: 10px;
      border: solid 2px #0b0;
      background-color: green;
      &.zero{
        background-color: gray;
        border-color: darkgray;
      }
      &.hidden {
        display: none;
      }
    }
  }
  .powerlevel-containers {
    height: 74vh;
  }
  .battery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .battery {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 70vh;
      width: 100%;
      margin: 15px;
      margin-bottom: 25px;
      .battery-bar{
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        background-size: 5px 3px, 100%;
        background-color: #0f0;
        border: solid 2px #333;
      }
      .battery-level{
        text-align: center;
      }
    }
  }
  @media (width: 1024px) {
    h5 {
      float: left;
      font-size: 14px;
      padding-top: 0px;
    }
    .powerLine {
      margin: 0px;
    }
    .battery-holder {
      position: absolute;
      top: 10vh;
      right: 0;
    }
    .battery-container {
      .battery {
        height: 60vh;
      }
    }
  }
}