{
  "extends": ["eslint:recommended", "react-app", "eslint-config-prettier"],
  "rules": {
    "no-console": "off"
  },
  "ignorePatterns": [
    "/node_modules/",
    "/client/coverage/",
    "/build/",
    "/server/build/",
    "/.cache/",
    "/client/locales/",
    "/client/src/models/"
  ]
}
