**/test/**
**/coverage/**
**/scripts/**
**/node_modules/**
**/build/**
**/TweenMax.min.js
**/plopfile.js
**/config/**
GLTFLoader.js
build
server/build
.cache
locales
src/models
packages
tempServer
temp