.shields {
  height: 100%;
  display: flex;
  align-items: center;
  h1 {
    margin-bottom: 50px;
  }
  .shieldImage {
    transition: filter 2s ease-in-out;
  }
  .shieldControlBox {
    margin-top: 50px;
  }
  .shieldBubble {
    padding: 50px;
    margin: 10px;
    border-radius: 50%;
    transition: box-shadow 2s ease-in-out;
  }
  .damageOverlay {
    z-index: 10000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5%;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 110%;
    border: solid 1px rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.5);
    text-shadow: 5px 5px 5px black;
    h1 {
      color: red;
    }
  }
  @media (width: 1024px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h5 {
      font-size: 1rem;
    }
    h4.arrow {
      font-size: 1.1rem;
      line-height: 2rem;
    }
    .shieldControlBox {
      margin-top: 20px;
    }
    button {
      font-size: 0.8rem;
    }
  }
}