.targeting-control {
  .targetArea {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .phaser-holder {
    max-height: 37vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    div {
      width: 100%;
    }
  }
  .targetingGrid-dom {
    border: solid 1px rgba(0, 255, 0, 0.5);
    position: relative;
    // overflow: hidden;
    span {
      position: absolute;
    }
    .lines-x,
    .lines-y {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
    .lines-x {
      flex-direction: column;
    }
    .lines-y {
      flex-direction: row;
    }
    .line-x {
      border-bottom: dashed 1px rgba(0, 255, 0, 0.5);
      height: 0;
      width: 100%;
    }
    .line-y {
      height: 100%;
      border-right: dashed 1px rgba(0, 255, 0, 0.5);
      width: 0;
    }
    .target {
      position: absolute;
      width: 32px;
      height: 32px;
    }
    .crosshair {
      position: absolute;
      width: 32px;
      height: 32px;
    }
  }
  .media-object {
    width: 72px;
    margin-right: 20px;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .target-area {
    height: 100%;
    margin-top: 50px;
  }
  .crosshair,
  .target-label {
    pointer-events: none;
  }
  .phaserText {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .btn[disabled] {
    pointer-events: none;
  }
  .coolantHolder {
    margin-bottom: 20px;
  }
  .chargeHolder {
    background-color: black;
    border: solid 1px white;
    height: 30px;
    position: relative;
    .charge,
    .heat,
    .coolant {
      position: absolute;
      left: 0%;
      height: 100%;
      transition: width 0.3s linear;

      background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
      background-size: 5px 3px, 100%;
    }
    .charge {
      //transition: width 0.5s ease-in-out;
      background-color: #ffff00;
    }
    .heat {
      //transition: width 0.5s linear;
      background-color: #ff0000;
    }
    .coolant {
      animation: 2s ease-in-out 0s infinite coolant_glow;
      background: radial-gradient(ellipse at center, #0061b1 0%, #2072c9 100%);
      background-position: center;
    }
  }

  .current-coordinates {
    margin-top: 20px;
  }
  .coordinate-box {
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .coordinate-box div {
    background-color: #333;
    border: solid 1px #ccc;
    margin: 5px;
    padding: 3px;
    flex: 1;
    display: inline-block;
    min-height: 38px;
    &.selected {
      background-color: #555;
    }
  }
}

@keyframes coolant_glow {
  0% {
    box-shadow: inset 0 0 50px #3ff, inset 20px 0 160px #30f,
      inset -20px 0 160px #0ff;
  }
  50% {
    box-shadow: inset 0 0 30px #9ff, inset 20px 0 160px #30f,
      inset -20px 0 160px #0ff;
  }
  100% {
    box-shadow: inset 0 0 50px #3ff, inset 20px 0 160px #30f,
      inset -20px 0 160px #0ff;
  }
}
.targeting-core {
  height: 100%;
  img {
    width: 16px;
    height: 16px;
  }
  .pictureSelect {
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0;
  }
  .input-group-btn button {
    height: 16px;
    line-height: 0px;
  }
  .targets-container {
    flex: 1;
    overflow-y: scroll;
  }
  .contact-targeting {
    display: flex;
    flex-direction: column;
    height: calc(100% - 34px);
  }
  .media-object {
    width: 48px;
    height: 48px;
  }
}
