.security-scans {
  .results {
    width: 100%;
    min-height: 30vh;
    max-height: 40vh;
    overflow: scroll;
  }
  .scannerBox {
    width: 100%;
    min-height: 20vh;
    position: relative;
  }
  .scanner {
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: rgba(255,255,0,0.5);
    top: 0px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px yellow;
    animation-name: scannerMove;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
}

@keyframes scannerMove {
  0%   {left: 0%}
  75%  {left: 100%}
  100% {left: 0%}
}