.card-jrOps .transporters .spacer, .card-jrOps .jr-tractor-beam .spacer {
  padding-top: 100%; }

.card-jrOps .transporters .col-sm-4 .spacer, .card-jrOps .jr-tractor-beam .col-sm-4 .spacer {
  padding-top: 220%; }

.card-jrOps .transporters .target, .card-jrOps .jr-tractor-beam .target {
  position: absolute;
  width: 64px; }

.card-jrOps .transporters .target-holder, .card-jrOps .jr-tractor-beam .target-holder {
  height: 100%;
  width: 100%;
  position: absolute; }

.card-jrOps .transporters .lines-holder, .card-jrOps .jr-tractor-beam .lines-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden; }

.card-jrOps .transporters .lines-x,
.card-jrOps .transporters .lines-y, .card-jrOps .jr-tractor-beam .lines-x,
.card-jrOps .jr-tractor-beam .lines-y {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; }

.card-jrOps .transporters .lines-x, .card-jrOps .jr-tractor-beam .lines-x {
  flex-direction: column; }

.card-jrOps .transporters .lines-y, .card-jrOps .jr-tractor-beam .lines-y {
  flex-direction: row; }

.card-jrOps .transporters .line-x, .card-jrOps .jr-tractor-beam .line-x {
  border-bottom: dashed 1px rgba(0, 255, 0, 0.5);
  height: 0;
  width: 100%; }

.card-jrOps .transporters .line-y, .card-jrOps .jr-tractor-beam .line-y {
  height: 100%;
  border-right: dashed 1px rgba(0, 255, 0, 0.5);
  width: 0; }

.card-jrOps .transporters .scanner-bar, .card-jrOps .jr-tractor-beam .scanner-bar {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 255, 0, 0.5);
  animation: scannerbar 2s ease-in-out infinite; }

.card-jrOps .transporters .charge-bar, .card-jrOps .jr-tractor-beam .charge-bar {
  width: calc(100% - 30px);
  height: 50%;
  position: absolute;
  bottom: 50px;
  background-size: 5px 3px, 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: yellow; }

.card-jrOps .transporters .strength, .card-jrOps .jr-tractor-beam .strength {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(255, 255, 255, 0.5);
  height: calc(100% - 43px);
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center; }
  .card-jrOps .transporters .strength .rainbow-bar, .card-jrOps .jr-tractor-beam .strength .rainbow-bar {
    height: 100%;
    width: 5px;
    background: linear-gradient(0deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3); }
  .card-jrOps .transporters .strength .arrow, .card-jrOps .jr-tractor-beam .strength .arrow {
    height: 0px;
    width: 0px;
    background-color: transparent;
    margin: 5px; }
  .card-jrOps .transporters .strength .actual-arrow, .card-jrOps .jr-tractor-beam .strength .actual-arrow {
    border-top: solid transparent 15px;
    border-bottom: solid transparent 15px;
    border-left: solid orange 20px;
    cursor: pointer; }
  .card-jrOps .transporters .strength .correct-arrow, .card-jrOps .jr-tractor-beam .strength .correct-arrow {
    border-top: solid transparent 10px;
    border-bottom: solid transparent 10px;
    border-right: solid orange 15px;
    transition: transform 0.5s linear; }

.card-jrOps .crystals {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.card-jrOps .crystals-holder {
  position: relative; }
  .card-jrOps .crystals-holder img {
    height: 25vh; }
  .card-jrOps .crystals-holder .crystal-overlay {
    -webkit-mask-image: url("./crystal.png");
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    mix-blend-mode: multiply; }
  .card-jrOps .crystals-holder .crystal {
    position: relative; }
  .card-jrOps .crystals-holder .bars {
    position: absolute;
    width: 100%;
    top: 5vh;
    left: 100%; }
    .card-jrOps .crystals-holder .bars .bar {
      height: 3vh;
      margin-bottom: 1vh; }
  .card-jrOps .crystals-holder .arrow-holder {
    height: 60%;
    position: absolute;
    top: 20%;
    left: -25%;
    border-right: solid 3px gray; }
    .card-jrOps .crystals-holder .arrow-holder .arrow {
      background-color: transparent;
      border-top: solid transparent 20px;
      border-bottom: solid transparent 20px;
      border-left: solid orange 30px; }

@keyframes scannerbar {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(1000%); } }
