$alert5: #233f7a;
$alert3: #4d4d16;
$alert2: #804d19;
$alert1: #801919;
$alertp: #4d1980;
$url: '/js/images/background-blue.svg';

body {
  overflow: hidden;
  margin: 0;
}

.actionsContainer {
  &.flash {
    filter: invert(1);
  }
}
.alertBackground-5 {
  background-color: $alert5;
}
.alertFill-5 {
  fill: $alert5;
  stroke: lighten($alert5, 20%);
}
.alertBackground-4 {
  background-color: $alert5;
}
.alertFill-4 {
  fill: $alert5;
  stroke: lighten($alert5, 20%);
}
.alertBackground-3 {
  background-color: $alert3;
}
.alertFill-3 {
  fill: $alert3;
  stroke: lighten($alert3, 20%);
}
.alertBackground-2 {
  background-color: $alert2;
}
.alertFill-2 {
  fill: $alert2;
  stroke: lighten($alert2, 20%);
}
.alertBackground-1 {
  background-color: $alert1;
}
.alertFill-1 {
  fill: $alert1;
  stroke: lighten($alert1, 20%);
}
.alertBackground-p {
  background-color: $alertp;
}
.alertFill-p {
  fill: $alertp;
  stroke: lighten($alertp, 20%);
}

//Card area
.card-container {
  position: absolute;
  top: 115px;
  left: 122px;
  width: 90vw;
  height: 84vh;
  .transitioner {
    overflow: visible;
  }
}
.viewscreen .card-container {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.widgets {
  position: absolute;
  left: 460px;
  top: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  &.offline,
  &.offline * {
    pointer-events: none;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
  }
  .widget-item {
    float: left;
    margin: 4px;
  }
  .widget-icon {
    transition: color 0.25s ease-in-out;
  }
}
.settingsBall {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background: transparent;
  .options {
    position: absolute;
    bottom: 0;
    left: 50px;
    color: white;
    list-style: none;
    width: 200px;
    transition: height 0s linear 0.8s;
    height: 0px;
    li {
      transform: translate(0, 220px);
      position: absolute;
      transition: border 0s linear;
      opacity: 0;
      border-radius: 20px;
      padding-left: 5px;
      padding-right: 5px;
      border: solid 1px rgba(255, 255, 255, 0);
      &:hover {
        border: solid 1px rgba(255, 255, 255, 0.7);
      }
    }
  }
  .options li {
    &:nth-child(1) {
      transition: opacity 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s;
    }
    &:nth-child(2) {
      transition: opacity 0.5s ease-in-out 0.2s, transform 0.5s ease-in-out 0.1s;
    }
    &:nth-child(3) {
      transition: opacity 0.5s ease-in-out 0.4s, transform 0.5s ease-in-out 0.2s;
    }
    &:nth-child(4) {
      transition: opacity 0.5s ease-in-out 0.6s, transform 0.5s ease-in-out 0.3s;
    }
    &:nth-child(5) {
      transition: opacity 0.5s ease-in-out 0.8s, transform 0.5s ease-in-out 0.4s;
    }
  }
  &:hover .options {
    height: 150px;
    transition: height 0s linear 0s;
    li {
      opacity: 1;
      &:nth-child(1) {
        transform: translate(0, 140px);
        transition: opacity 0.5s ease-in-out;
      }
      &:nth-child(2) {
        transform: translate(0, 110px);
        transition: opacity 0.5s ease-in-out;
      }
      &:nth-child(3) {
        transform: translate(0, 80px);
        transition: opacity 0.5s ease-in-out;
      }
      &:nth-child(4) {
        transform: translate(0, 50px);
        transition: opacity 0.5s ease-in-out;
      }
      &:nth-child(5) {
        transform: translate(0, 20px);
        transition: opacity 0.5s ease-in-out;
      }
    }
  }
  .icon {
    width: 70px;
    height: 70px;
    border: solid 2px #888;
    border-radius: 50%;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, .9) 100%
      ),
      url('/js/images/gear.svg');
    background-size: 100%, 55px;
    background-position: center, 4px 7px;
    background-repeat: no-repeat, no-repeat;
    transition: all 0.5s ease-in;
    transform: rotate(180deg);
  }
  &:hover .icon {
    transform: rotate(0deg);
  }
  &.logout,
  &.offline {
    .options {
      display: none;
    }
    &:hover .icon {
      transform: rotate(180deg);
    }
  }
}
#curve-frame {
  height: 100vh;
  .simulator-name,
  .station-name,
  .login-name {
    font-family: 'Sarpanch', sans-serif;
    text-transform: uppercase;
  }
  button {
    outline: none !important;
  }
}

.alertColor5 .frame-color div,
.alertColor4 .frame-color div,
.settingsBall .icon.alertColor5,
.settingsBall .icon.alertColor4 {
  background-color: saturate(darken($alert5, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alert5, 10%), 5%);
  }
}
.alertColor3 .frame-color div,
.settingsBall .icon.alertColor3 {
  background-color: saturate(darken($alert3, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alert3, 10%), 5%);
  }
}
.alertColor2 .frame-color div,
.settingsBall .icon.alertColor2 {
  background-color: saturate(darken($alert2, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alert2, 10%), 5%);
  }
}
.alertColor1 .frame-color div,
.settingsBall .icon.alertColor1 {
  background-color: saturate(darken($alert1, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alert1, 10%), 5%);
  }
}
.alertColorp .frame-color div,
.settingsBall .icon.alertColorp {
  background-color: saturate(darken($alertp, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alertp, 10%), 5%);
  }
}

@mixin alertColor($color,$url) {
  background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, .9) 100%
    ),
    url($url),
    linear-gradient(165deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-color: $color;
  background-size: 100vw 100vh, 50px, 100vw 100vh;
  .frame-color div {
    background-color: saturate(darken($color, 1%), 5%);
  }
  .card-icon-container .card-icon-item .card-button-background {
    background: linear-gradient(
      to bottom,
      saturate(darken($color, 4%), 5%) 0%,
      saturate(darken($color, 1%), 5%) 50%,
      saturate(darken($color, 4%), 5%) 100%
    );
  }
  .alertBack {
    background-color: $color;
  }
}

.alertColor5 .frame-color div,
.alertColor4 .frame-color div {
  background-color: saturate(darken($alert5, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alert5, 10%), 5%);
  }
}
.alertColor3 .frame-color div {
  background-color: saturate(darken($alert3, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alert3, 10%), 5%);
  }
}
.alertColor2 .frame-color div {
  background-color: saturate(darken($alert2, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alert2, 10%), 5%);
  }
}
.alertColor1 .frame-color div {
  background-color: saturate(darken($alert1, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alert1, 10%), 5%);
  }
}
.alertColorp .frame-color div {
  background-color: saturate(darken($alertp, 1%), 5%);
  &.active {
    background-color: saturate(lighten($alertp, 10%), 5%);
  }
}

#curve-frame {
  .alertBack {
    transition: background-color 0.5s ease-in-out;
  }
  &.alertColor5,
  &.alertColor4 {
    .alertBack {
      background-color: $alert5;
    }
    .card-icon-color {
      background-color: lighten($alert5, 25%);
    }
  }
  &.alertColor3 {
    .alertBack {
      background-color: $alert3;
    }
    .card-icon-color {
      background-color: lighten($alert3, 25%);
    }
  }
  &.alertColor2 {
    .alertBack {
      background-color: $alert2;
    }
    .card-icon-color {
      background-color: lighten($alert2, 25%);
    }
  }
  &.alertColor1 {
    .alertBack {
      background-color: $alert1;
    }
    .card-icon-color {
      background-color: lighten($alert1, 25%);
    }
  }
  &.alertColorp {
    .alertBack {
      background-color: $alertp;
    }
    .card-icon-color {
      background-color: lighten($alertp, 25%);
    }
  }
}

#curve-frame {
  transition: background-color 0.5s ease-in-out;
  height: 100vh;
  //Notify alerts
  .alert {
    border: solid 2px rgba(88, 88, 88, 0.9);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
  }
  .alert-info {
    background-color: rgba($alert5, .7);
    color: lighten($alert5, 70%);
  }
  .alert-success {
    background-color: rgba(#164d16, .7);
    color: lighten(#164d16, 70%);
  }
  .alert-danger {
    background-color: rgba($alert1, .7);
    color: lighten($alert1, 70%);
  }
  .alert-warning {
    background-color: rgba($alert2, .7);
    color: lighten($alert2, 70%);
  }
  .alert-primary {
    background-color: rgba($alert5, .7);
    color: lighten($alert5, 70%);
  }
  //Alert Classes
  &.alertColor5,
  &.alertColor4 {
    @include alertColor($alert5,'/js/images/background-blue.svg');
  }
  &.alertColor3 {
    @include alertColor($alert3,'/js/images/background-yellow.svg');
  }
  &.alertColor2 {
    @include alertColor($alert2,'/js/images/background-orange.svg');
  }
  &.alertColor1 {
    @include alertColor($alert1,'/js/images/background-red.svg');
  }
  &.alertColorp {
    @include alertColor($alertp,'/js/images/background-purple.svg');
  }
  .simulator-image {
    img {
      position: absolute;
      top: 72px;
      left: 30px;
      width: 162px;
      height: 162px;
      border-radius: 50%;
    }
    @media screen and (min-width: 1700px) {
      img {
        top: 85px;
        left: 35px;
        width: 196px;
        height: 196px;
      }
    }
  }
  .card-icon-container {
    width: 80px;
    position: absolute;
    top: 320px;
    left: 10px;
    z-index: 10;
    &:hover {
      .card-icon-item {
        .card-button-background {
          left: 105px;
        }
        .card-button-mask {
          transition: width 0s linear;
        }
      }
    }
    &.offline,
    &.logout {
      pointer-events: none;
    }
    .card-icon-item:nth-child(1) {
      .card-button-background {
        transition-delay: (0.05s * 0);
      }
    }
    .card-icon-item:nth-child(2) {
      .card-button-background {
        transition-delay: (0.05s * 1);
      }
    }
    .card-icon-item:nth-child(3) {
      .card-button-background {
        transition-delay: (0.05s * 2);
      }
    }
    .card-icon-item:nth-child(4) {
      .card-button-background {
        transition-delay: (0.05s * 3);
      }
    }
    .card-icon-item:nth-child(5) {
      .card-button-background {
        transition-delay: (0.05s * 4);
      }
    }
    .card-icon-item:nth-child(6) {
      .card-button-background {
        transition-delay: (0.05s * 5);
      }
    }
    .card-icon-item:nth-child(7) {
      .card-button-background {
        transition-delay: (0.05s * 6);
      }
    }
    .card-icon-item:nth-child(8) {
      .card-button-background {
        transition-delay: (0.05s * 7);
      }
    }
    .card-icon-item:nth-child(9) {
      .card-button-background {
        transition-delay: (0.05s * 8);
      }
    }
    .card-icon-item:nth-child(10) {
      .card-button-background {
        transition-delay: (0.05s * 9);
      }
    }

    .card-icon-item {
      position: relative;
      margin-bottom: 90px;
      &:hover {
        -webkit-filter: brightness(1.2);
      }
      .card-icon-background {
        width: 70px;
        height: 70px;
        margin-top: -85px;
        background: #ccc;
        border-radius: 50%;
      }
      .card-icon-color {
        position: absolute;
        top: 4px;
        left: 4px;
        padding: 6px;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        //background-color: #f00;
      }
      .card-icon {
        position: absolute;
        top: 4px;
        left: 4px;
        //padding: 6px;
        width: 62px;
        height: 62px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        border-radius: 50%;
      }
      .card-button-mask {
        background-color: transparent;
        left: 50px;
        height: 100px;
        position: absolute;
        width: 0px;
        transition: width 0.5s ease-in-out 0.2s;
      }
      .card-button {
        font-weight: 700;
        text-transform: capitalize;
        height: 40px;
        font-size: 25px;
        line-height: 33px;
        text-align: right;
        padding-right: 20px;
        padding-left: 30px;
        margin-top: 3px;
        margin-right: -20px;
        white-space: nowrap;
        border: solid 1px #777;
        background: radial-gradient(
          ellipse at center,
          #888888 0%,
          #aaaaaa 50%,
          #bbbbbb 100%
        );
        border-radius: 15px;
        color: #000;
      }
      .card-button-background {
        position: absolute;
        height: 48px;
        margin-left: -100px;
        margin-top: 13px;
        background: linear-gradient(
          to bottom,
          #1c3f6d 0%,
          #2462b3 50%,
          #1c3f6d 100%
        );
        border: solid 1px #949495;
        border-radius: 15px;
        transition: left 0.5s ease-in-out;
        left: -410px;
      }
    }
  }
  .frame-text {
    -webkit-user-select: none;
    user-select: none;
    .simulator-name {
      text-transform: uppercase;
      top: -3px;
      left: 30px;
      font-weight: 700;
      position: absolute;
      font-size: 50px;
      background: -webkit-linear-gradient(#ddd, #999, #ddd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #9c9da0;
      -webkit-font-smoothing: subpixel-antialiased;
      letter-spacing: 5px;
    }
    .station-name {
      font-weight: 700;
      position: absolute;
      width: 470px;
      text-align: center;
      right: 0px;
      font-size: 50px;
      background: -webkit-linear-gradient(#ddd, #999, #ddd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #9c9da0;
      -webkit-font-smoothing: subpixel-antialiased;
      letter-spacing: -3px;
    }
    .login-name {
      font-weight: 700;
      position: absolute;
      top: 50px;
      left: 220px;
      font-size: 30px;
      background: -webkit-linear-gradient(#ddd, #999, #ddd);
      -webkit-text-stroke: 1px #777;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #000;
      letter-spacing: 1px;
      -webkit-font-smoothing: subpixel-antialiased;
    }
    @media (min-width: 1700px) {
      .simulator-name {
        top: 0px;
        left: 70px;
        font-size: 60px;
      }
      .station-name {
        top: 0px;
        right: 10px;
        font-size: 55px;
      }
      .login-name {
        top: 60px;
        left: 260px;
        font-size: 40px;
      }
    }
  }
  .frame-image {
    div {
      position: absolute;
    }
    .frame-1 {
      width: 593px;
      height: 127px;
      background-image: url(/js/images/slice1.png);
    }
    .frame-2 {
      width: 126px;
      height: 767px;
      top: 127px;
      background-image: url(/js/images/slice2.png);
    }
    .frame-3 {
      width: 533px;
      height: 77px;
      right: 0px;
      background-image: url(/js/images/slice3.png);
      &.opposite {
        left: 0px;
        right: auto;
        transform: scaleX(-1);
      }
    }
    @media (min-width: 1700px) {
      .frame-1 {
        width: 723px;
        height: 169px;
        background-image: url(/js/images/slice1.png);
        background-size: 723px 169px;
      }
      .frame-2 {
        width: 160px;
        height: 909px;
        top: 169px;
        background-image: url(/js/images/slice2.png);
        background-size: 160px 909px;
      }
      .frame-3 {
        width: 603px;
        height: 139px;
        right: 0px;
        background-image: url(/js/images/slice3.png);
        background-size: 603px 139px;
      }
    }
  }
  .frame-color {
    div {
      position: absolute;
      transition: background-color 0.5s ease-in-out;
    }
    .part-1-1 {
      top: 0px;
      width: 52px;
      height: 227px;
      -webkit-clip-path: polygon(
        0 0,
        50px 0px,
        72px 90px,
        42px 120px,
        39px 188px,
        38px 188px,
        0px 188px
      );
    }
    .part-1-2 {
      top: 0px;
      left: 50px;
      height: 130px;
      width: 660px;
      -webkit-clip-path: polygon(
        0 0,
        538px 0px,
        520px 35px,
        517px 35px,
        510px 38px,
        382px 38px,
        373px 50px,
        367px 56px,
        170px 56px,
        157px 63px,
        132px 99px,
        123px 105px,
        15px 105px,
        0px 109px
      );
    }
    .part-c {
      width: 350px;
      height: 60px;
      left: 163px;
      top: 28px;
      background-color: #c27a32 !important;
      -webkit-clip-path: polygon(0 0, 350px 0, 324px 52px, 312px 59px, 0 60px);
    }
    .part-2 {
      width: 105px;
      height: 770px;
      top: 193px;
      -webkit-clip-path: polygon(
        0 0,
        40px 0,
        63px 26px,
        87px 38px,
        87px 485px,
        0 570px,
        0 585px,
        87px 497px,
        87px 528px,
        85px 558px,
        0 645px
      );
    }
    .part-3 {
      width: 464px;
      height: 72px;
      top: 0px;
      right: 0px;
      -webkit-clip-path: polygon(
        10px 0,
        557px 0,
        557px 75px,
        54px 75px,
        43px 65px
      );
      &.opposite {
        left: 0px;
        right: auto;
        transform: scaleX(-1);
      }
    }
    @media (min-width: 1700px) {
      .part-1-1 {
        top: 0px;
        width: 50px;
        height: 227px;
        -webkit-clip-path: polygon(
          0 0,
          50px 0px,
          50px 130px,
          45px 140px,
          40px 150px,
          38px 160px,
          36px 170px,
          35px 180px,
          35px 190px,
          37px 200px,
          45px 227px,
          0px 227px
        );
      }
      .part-1-2 {
        top: 0px;
        left: 50px;
        height: 130px;
        width: 660px;
        -webkit-clip-path: polygon(
          0 0,
          655px 0px,
          637px 38px,
          635px 39px,
          634px 40px,
          627px 45px,
          625px 46px,
          468px 46px,
          455px 65px,
          450px 67px,
          213px 67px,
          207px 70px,
          203px 72px,
          200px 74px,
          165px 127px,
          148px 110px,
          116px 91px,
          80px 85px,
          76px 87px,
          56px 90px,
          28px 100px,
          15px 110px,
          0px 130px
        );
      }
      .part-c {
        width: 380px;
        height: 60px;
        left: 230px;
        top: 45px;
        background-color: #c27a32 !important;
        -webkit-clip-path: polygon(
          0 0,
          380px 0,
          355px 50px,
          338px 60px,
          0 60px
        );
      }
      .part-2 {
        width: 105px;
        height: 770px;
        top: 232px;
        -webkit-clip-path: polygon(
          0 0,
          45px 0,
          85px 37px,
          105px 44px,
          105px 580px,
          0 687px,
          0 700px,
          105px 595px,
          105px 658px,
          95px 680px,
          0 770px
        );
      }
      .part-3 {
        width: 557px;
        height: 85px;
        top: 0px;
        right: 0px;
        -webkit-clip-path: polygon(
          40px 0,
          557px 0,
          557px 80px,
          90px 80px,
          82px 76px
        );
        &.opposite {
          right: auto;
          left: 0;
          transform: scaleX(-1);
        }
      }
    }
  }
}

@media (width: 1024px) {
  .card-container {
  }
  #curve-frame {
    .frame-image {
      .frame-1 {
        background-image: url(/js/images/slice4.png);
        height: 116px;
        width: 363px;
      }
      .frame-2 {
        background-image: url(/js/images/slice7.png);
        height: 652px;
        width: 98px;
        top: 116px;
      }
      .frame-3 {
        background-image: url(/js/images/slice6.png);
        height: 86px;
        width: 448px;
      }
      .frame-4 {
        background-image: url(/js/images/slice5.png);
        height: 71px;
        width: 213px;
        left: 363px;
      }
    }
    .frame-color {
      .part-c {
        width: 350px;
        height: 32px;
        left: 17px;
        top: 56px;
        background-color: #c27a32 !important;
        -webkit-clip-path: polygon(
          0 0,
          87.5% 0,
          85% 60%,
          83% 87%,
          79% 102%,
          0 60px
        );
        border-radius: 26px 0 0 0;
      }
      .part-1-1 {
        width: 578px;
        height: 88px;
        -webkit-clip-path: polygon(
          0 0,
          100% 0,
          100% 45%,
          59% 45%,
          57% 63%,
          6% 64%,
          3% 100%,
          0 100%
        );
      }
      .part-1-2 {
        display: none;
      }
      .part-2 {
        width: 64px;
        height: 630px;
        top: 94px;
        -webkit-clip-path: polygon(
          0 0,
          26% 0,
          60% 4%,
          100% 6%,
          100% 74%,
          0 88%,
          0 89.5%,
          100% 76%,
          97% 85%,
          0 100%
        );
      }
      .part-3 {
        -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 9% 100%, 7% 93%);
      }
    }
    .frame-text {
      .simulator-name {
        top: 0px;
        left: 20px;
        font-size: 40px;
      }
      .station-name {
        top: 5px;
        right: 10px;
        font-size: 50px;
        width: 430px;
      }
      .login-name {
        top: 55px;
        left: 46px;
        font-size: 30px;
      }
    }
    .card-icon-container {
      top: 230px;
      .card-icon-item {
        .card-icon {
          width: 50px;
          height: 50px;
        }
        .card-icon-color {
          width: 50px;
          height: 50px;
        }
        .card-icon-background {
          width: 58px;
          height: 58px;
        }
        .card-button-background {
          margin-top: 6px;
        }
      }
    }
    .widgets {
      left: 360px;
      width: 200px;
      display: flex;
      justify-content: space-around;
    }
  }
  .settingsBall {
    .icon {
      width: 50px;
      height: 50px;
      background-size: 100%, 35px;
    }
  }
  .card-container {
    top: 93px;
    left: 77px;
    width: 92vw;
    height: 83vh;
  }
}

// This is just for the viewscreen
@media (width: 1920px) {
}
