$alert5: #233f7a;
$alert3: #7a7a23;
$alert2: #804d19;
$alert1: #801919;
$alertp: #4d1980;
$color: $alert5;
.modal {
  z-index: 5000;
}

@mixin button-variant($background) {
  background: linear-gradient(
    to bottom,
    saturate(darken($background, 4%), 5%) 0%,
    saturate(darken($background, 1%), 5%) 50%,
    saturate(darken($background, 4%), 5%) 100%
  );
  border-color: darken($background, 3%);
  &:focus,
  &.focus {
    background: linear-gradient(
      to bottom,
      saturate(darken($background, 10%), 5%) 0%,
      saturate(darken($background, 5%), 5%) 50%,
      saturate(darken($background, 10%), 5%) 100%
    );
    border: solid 1px #949495;
    background-color: darken($background, 10%);
    border-color: darken($background, 25%);
  }
  &:hover {
    background: linear-gradient(
      to bottom,
      saturate(darken($background, 10%), 5%) 0%,
      saturate(darken($background, 5%), 5%) 50%,
      saturate(darken($background, 10%), 5%) 100%
    );
    border-color: darken($background, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle {
    background: linear-gradient(
      to bottom,
      saturate(lighten($background, 10%), 5%) 0%,
      saturate(lighten($background, 5%), 5%) 50%,
      saturate(lighten($background, 10%), 5%) 100%
    );
    border-color: lighten($background, 12%);
    &:hover,
    &:focus,
    &.focus {
      //background: linear-gradient(to bottom, saturate(darken($background, 17%), 5%) 0%, saturate(darken($background, 9%), 5%) 50%, saturate(darken($background, 17%), 5%) 100%);
      //border-color: lighten($background, 25%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle {
    //background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background: linear-gradient(
        to bottom,
        saturate(darken($background, 4%), 5%) 0%,
        saturate(darken($background, 1%), 5%) 50%,
        saturate(darken($background, 4%), 5%) 100%
      );
      border-color: $background;
    }
  }
}

.layout-corners,
.modal-themed,
#curve-frame {
  color: white;
  .modal-content {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.5);
    color: white;
    .close {
      color: white;
    }
  }
  .card {
    border: 1px solid #9c9da0;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    color: white;
    //padding: 10px;
  }
  .list-group {
    border: solid 1px rgba(255, 255, 255, 0.75);
    margin-right: 4px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    .list-group-item {
      border: none;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  .well {
    border: 1px solid #9c9da0;
    background-color: rgba(0, 0, 0, 0.2);
    color: #999;
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  }
  .table {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px #888;
    border-radius: 15px;
    color: #fff;
    &.table-striped > tbody > tr:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.table-hover > tbody > tr:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .btn {
    position: relative;
    z-index: 1;
    text-transform: capitalize;
    font-weight: 700;
    overflow: none;
    color: #111;
    margin-top: 5px;
    background: linear-gradient(
      to bottom,
      saturate(darken($color, 4%), 5%) 0%,
      saturate(darken($color, 1%), 5%) 50%,
      saturate(darken($color, 4%), 5%) 100%
    );
    border: solid 1px #949495;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    .btn-block {
      width: calc(100% - 20px);
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 20px);
      margin-left: -10px;
      top: 10%;
      height: 80%;
      z-index: -20;
      border: solid 1px #777;
      background: radial-gradient(
        ellipse at center,
        #888888 0%,
        #aaaaaa 50%,
        #bbbbbb 100%
      );
      border-radius: 15px;
    }
    &.btn-default {
      @include button-variant(desaturate($alert5, 100%));
    }
    &.btn-primary {
      @include button-variant($alert5);
    }
    &.btn-success {
      @include button-variant(#198019);
    }
    &.btn-info {
      @include button-variant(#198080);
    }
    &.btn-warning {
      @include button-variant($alert2);
    }
    &.btn-cloak {
      @include button-variant($alertp);
    }
    &.btn-danger {
      @include button-variant($alert1);
    }
  }
  .input-group-btn {
    .btn {
      margin-top: -10px;
      top: 0px;
      flex: none;
      height: 50px;
      border-left: none;
      &:before {
        border-left: none;
        border-radius: 0px 15px 15px 0px;
        width: calc(100% + 10px);
        margin-left: 0px;
      }
    }
  }
  input[type="email"],
  input[type="text"],
  input[type="password"],
  textarea {
    color: #fff;
    border: 0px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75),
      5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 0 0 10px 0;
    transition: all 0.5s ease;
  }
  input[type="text"]:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  textarea:focus {
    box-shadow: 0px 0px 5px $alert5, 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    border: 0px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.5s ease;
    outline: none;
  }
  pre {
    color: white;
    font-size: 16px;
    font-family: monospace;
  }
  .btn {
    outline: none;
  }
  .textbox {
    box-shadow: rgba(255, 255, 255, 0.74902) 0px 0px 5px 0px,
      5px 5px 10px rgba(0, 0, 0, 0.3);
    background-attachment: scroll;
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.0980392);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
  div.form-control {
    color: #fff;
    border: 0px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75),
      5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 0 0 10px 0;
    &:disabled,
    &.disabled {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .form-control:disabled {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .border-left {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
  .border-right {
    border-right: solid 1px rgba(255, 255, 255, 0.1);
  }
  .border-top {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
  }
  .border-bottom {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  .c-select {
    border: 1px solid #9c9da0;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 4px;
  }
  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 1px rgba(255, 255, 255, 0.5);
    .dropdown-item {
      color: white;
      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .list-group-item {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.125);
  }
  .nav-tabs {
    .nav-link {
      &.active {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

@media (width: 1366px) {
  .form-group {
    margin-bottom: 0;
  }
  label,
  .col-form-label-lg {
    padding-top: 0;
  }
}
