.widget-body {
  width: 500px;
  position: fixed;
  top: 50px;
  left: 25%;
  right: 25%;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px rgba(255, 255, 255, 0.7);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000; }
  .widget-body .widget-name {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 28px;
    width: 100%;
    font-size: 28px;
    text-align: center;
    cursor: move; }
  .widget-body.widget-lg {
    width: 1000px; }
  .widget-body .widget-container {
    width: 100%; }
