.file-explorer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.file-explorer .directory-container {
  display: flex;
  flex-wrap: wrap;
}
.file-explorer .directory-container > div {
  margin: 2px;
  width: 20%;
  min-width: 100px;
}
.file-explorer .directory-container > div p {
  margin-bottom: 2px;
}
.file-explorer .file-container {
  border: solid 1px rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  text-align: center;
  height: 100%;
  flex-basis: auto;
}
.file-explorer .file-container .selected {
  background-color: rgba(128, 128, 128, 0.2);
}
.file-explorer .file-container img {
  width: 80%;
}
.file-explorer .fa {
  color: #555;
}
