$alert5: #20a8da;
$alert4: #36c236;
$alert3: #acac34;
$alert2: #cc7926;
$alert1: #ca2a2a;
$alertp: #7a24cf;

.layout-ship-station {
  color: white;
  background-color: black;
  font-family: "Bank Gothic";
  input[type="password"],
  .txtPassword {
    font-family: sans-serif !important;
  }
  .card-frame {
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
  }
  .card-switcher-holder {
    top: 5px;
    left: 400px;
    justify-content: flex-start;
  }
  .simulator-name,
  .station-name,
  .card-name {
    z-index: 11;
    position: absolute;
    font-family: "Battlefield";
    line-height: 0;
    text-shadow: 0px 0px 10px black;
  }
  .simulator-name {
    left: 20px;
    bottom: 30px;
  }
  .station-name {
    top: 40px;
    right: 20px;
  }
  .card-name {
    top: 40px;
    left: 20px;
    display: none;
  }
  .frame-container {
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s ease;
  }
  .glow-container {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  .body-background {
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-image: url("./images/lines.svg");
    background-size: 1px 3px;
    position: absolute;
  }
  .dark-background {
    height: 100%;
    width: 100%;
    background-image: url("./images/pattern.svg");
    background-size: 11px 14px;
    position: absolute;
    z-index: -1;
  }
  .frame-outer {
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 12;
  }
  .card-area {
    top: 100px;
    left: 40px;
    right: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 220px);
    position: relative;
  }
  &.viewscreen {
    .card-area {
      z-index: 1;
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
    }
  }
  .widgets {
    right: 20px;
    bottom: 20px;
    left: auto;
  }

  // Theme
  .dropdown-menu {
    background-color: black;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 2px;
  }
  .dropdown-item {
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 2px;
    &:hover {
      background-color: gray;
      color: white;
    }
  }
  .btn,
  .btn.disabled,
  .btn:disabled {
    border-radius: 10px;
    border-width: 2px;
    background-color: transparent;
    color: white;
    min-width: 80px;
  }
  .form-control,
  .form-control:active,
  .form-control:focus,
  .form-control:disabled,
  .form-control.disabled,
  .form-control:read-only {
    border-width: 2px;
    background-color: transparent;
    color: white;
  }
  .form-control:disabled,
  .form-control.disabled {
    color: gray;
    border-color: gray;
  }
  .list-group-item {
    background-color: transparent;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .card {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
  }
  pre {
    color: white;
  }

  @mixin colors($color, $name) {
    & {
      background: linear-gradient(
        35deg,
        #000000 22%,
        darken($color, 35%) 53%,
        #000000 80%
      );
    }
    .body-background {
      background-color: $color;
    }
    .glow-container {
      filter: drop-shadow(0px 0px 3px $color) drop-shadow(0px 0px 2px $color);
    }
    .frame-outer {
      background-color: $color;
    }
  }

  &.alertColor5 {
    @include colors($alert5, "primary");
  }
  &.alertColor4 {
    @include colors($alert4, "success");
  }
  &.alertColor3 {
    @include colors($alert3, "warning");
  }
  &.alertColor2 {
    @include colors($alert2, "orange");
  }
  &.alertColor1 {
    @include colors($alert1, "danger");
  }
  &.alertColorp {
    @include colors($alertp, "cloak");
  }
}
