.targeting-control {
  .targetArea {
    max-height: 70vh;
    background-color: rgba(0,0,0,0.5);
  }
  .media-object{
    max-width: 72px;
    margin-right: 20px;
  }


  .target-area {
    margin-top: 50px;
  }
  .phaserText {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .phaserBeam{
    .chargeHolder{
      background-color: black;
      border: solid 1px white;
      height: 30px;
      position: relative;
      .charge, .heat {
        position: absolute;
        left: 0%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        background-size: 5px 3px, 100%;
      }
      .charge {
        transition: width 0.5s ease-in-out;
        background-color: #ffff00;
      }
      .heat {
        transition: width 0.5s linear;
        background-color: #ff0000;
      }
    }
  }
}

.targeting-core {
  img{
    width: 28px;
    height: 28px;
  }
  .pictureSelect {
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0;
  }
}