.targeting-control {
  .targetArea {
    max-height: 70vh;
    background-color: rgba(0,0,0,0.5);
  }
  .media-object{
    max-width: 72px;
    margin-right: 20px;
  }


  .target-area {
    margin-top: 50px;
  }
}

  .targeting-core {
    img{
      width: 28px;
      height: 28px;
    }
    .pictureSelect {
      position: absolute;
      width: 28px;
      height: 28px;
      opacity: 0;
    }
  }