$alert5: #2ba1cb;
$alert4: #237a23;
$alert3: #acac34;
$alert2: #804d19;
$alert1: #801919;
$alertp: #4d1980;

.layout-line {
  color: white;
  background-color: black;
  .card-frame {
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
  }
  .simulator-name,
  .station-name,
  .card-name {
    position: absolute;
    font-family: "Battlefield";
    line-height: 0;
  }
  .simulator-name {
    left: 20px;
    bottom: 30px;
  }
  .station-name {
    top: 40px;
    right: 20px;
  }
  .card-name {
    top: 40px;
    left: 20px;
  }
  .frame-container {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    left: 20px;
    top: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s ease;
  }
  .frame-outer {
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .card-area {
    top: 100px;
    left: 40px;
    right: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 180px);
    position: relative;
  }
  .widgets {
    right: 60px;
    bottom: 20px;
    left: auto;
  }
  .card-switcher-holder {
    z-index: 100;
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .card-switcher {
    display: flex;
    align-items: flex-start;
    img {
      margin: 0 20px;
      width: 40px;
      border-radius: 50%;
      box-sizing: content-box;
      transition: background-color 0.2s ease, border-color 0.2s ease;
    }
  }
  @mixin colors($color) {
    .frame-container {
      filter: drop-shadow(0px 0px 5px $color);
    }
    .frame-outer {
      background-color: $color;
    }
    .card-switcher {
      img {
        background-color: $color;
        border: solid 2px $color;
        &:hover {
          background-color: darken($color, 20%);
          border: solid 2px darken($color, 20%);
        }
        &.active {
          background-color: lighten($color, 20%);
          border: solid 2px lighten($color, 20%);
        }
      }
    }
  }

  &.alertColor5 {
    @include colors($alert5);
  }
  &.alertColor4 {
    @include colors($alert4);
  }
  &.alertColor3 {
    @include colors($alert3);
  }
  &.alertColor2 {
    @include colors($alert2);
  }
  &.alertColor1 {
    @include colors($alert1);
  }
  &.alertColorp {
    @include colors($alertp);
  }
  .btn-cloak {
    border-color: $alertp;
    &:hover {
      background-color: darken($alertp, 5%);
    }
  }
  .btn-default {
    border-color: gray;
    &:hover {
      background-color: darken(gray, 5%);
    }
  }
  // Theme
  .dropdown-menu {
    background-color: black;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 2px;
  }
  .dropdown-item {
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 2px;
    &:hover {
      background-color: gray;
      color: white;
    }
  }
  .btn,
  .btn.disabled,
  .btn:disabled {
    border-radius: 10px;
    border-width: 2px;
    background-color: transparent;
    color: white;
  }
  .form-control,
  .form-control:active,
  .form-control:focus,
  .form-control:disabled,
  .form-control.disabled,
  .form-control:read-only {
    border-width: 2px;
    background-color: transparent;
    color: white;
  }
  .form-control:disabled,
  .form-control.disabled {
    color: gray;
    border-color: gray;
  }
  .list-group-item {
    background-color: transparent;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .card {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
  }
  pre {
    color: white;
  }
}
