.tractor-beam {
  height: 100%;
  .ship-side {
    position: absolute;
    right: 10%;
    bottom: 54%;
    width: 60%;
  }
  #tractorEffect {
    position: absolute;
    top: 43%;
    right: 56%;
    -webkit-transition: opacity 1s ease-in-out;
    -webkit-mask-size: 400px 400px;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left bottom,
      right top,
      color-stop(0.4, rgba(0, 0, 0, 0)),
      color-stop(0.6, rgba(0, 0, 0, 1)),
      color-stop(1, rgba(0, 0, 0, 1))
    );
    opacity: 0;
    &.shown {
      opacity: 1;
    }
  }
  .target {
    position: absolute;
    width: 8%;
    top: 52%;
    right: 71%;
    -webkit-transition: opacity 1s ease-in-out;
    opacity: 0;
    &.shown {
      opacity: 1;
    }
    span {
      text-align: center;
      font-size: 20px;
      display: inline-block;
      width: 100%;
    }
  }
  .activate {
    position: absolute;
    width: 30%;
    top: 80%;
  }
  .stressBar {
    position: absolute;
    bottom: 5%;
    right: 33%;
  }
  .strengthBar {
    position: absolute;
    bottom: 5%;
    right: 0%;
  }
  .barLabel {
    font-size: 24px;
    position: absolute;
    text-align: center;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
  }
  @media (width: 1024px) {
    .target {
      top: 52%;
      right: 75%;
    }
  }
}
.tractor-beam-core {
  label {
    display: block;
    float: left;
    width: 100%;
  }
}

.bar-container {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  &.shown {
    opacity: 1;
  }
}
.bar-holder {
  width: 300px;
  position: relative;
}
.arrow-container {
  position: absolute;
  height: 100%;
  left: -50px;
}
.arrow-container.flop {
  right: -50px;
  left: auto;
}
.bar {
  background-color: red;
  height: 4px;
  border-radius: 50px;
  margin: 3px;
}
