.card-stealthField {
  height: 100%;

  .stealthBars{
    bottom: 0;
    position: absolute;
    width: 100%;
    .bar-container {
      position: relative;
      height: 22px;
      width: 100%;
    }
    .bar {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(270deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
      height: 100%;
      position: absolute;
    }
  }
}