.card-stealthField {
  height: 100%;
  .stealth-columns {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .stealth-system-row {
    width: 50%;
  }
  .stealthBars {
    margin-top: 50px;
    .stealth-bar-container {
      position: relative;
      height: 22px;
      width: 100%;
    }
    .stealth-bar {
      background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(
          270deg,
          #ff2400,
          #e81d1d,
          #e8b71d,
          #e3e81d,
          #1de840,
          #1ddde8,
          #2b1de8
        );
      height: 100%;
      position: absolute;
    }
  }
  .stealth-board span {
    display: block;
    width: 100%;
  }
  #stealth-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
    position: absolute;
    mix-blend-mode: multiply;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
  }
  .charge-row,
  .charge-row .col {
    height: 100%;
  }
  .chargeBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    .bar-holder {
      margin-top: 20px;
      height: 80%;
      position: relative;
      margin-bottom: 20px;
    }
    .bar {
      background: linear-gradient(
        to bottom,
        rgba(0, 255, 0, 1) 0%,
        rgba(0, 128, 0, 1) 49%,
        yellow 50%,
        rgba(0, 127, 0, 1) 51%,
        rgba(0, 36, 0, 1) 100%
      );
      height: 100%;
      width: 20px;
      position: absolute;
    }
    .arrow {
      margin-top: -10px;
      margin-left: 20px;
      height: 100%;
    }
  }
}

.stealth-animation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  .band {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation-name: stealthAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @for $i from 1 to 31 {
      $val: $i;
      &:nth-child(#{$i}) {
        animation-duration: random() * 4s + 1s;
        animation-delay: random() * 4s * -1;
        .color {
          background-color: rgba(0, 0, 0, 0.4);
          width: random() * 40%;
          height: 100%;
        }
      }
    }
  }
}

@keyframes stealthAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
