.cable {
  width: 20px;
  height: 20px;
  border: solid 5px rgba(160,160,160,1);
  background-color: #444;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 50%;
  cursor: pointer;
}
.hilite {
  background-color: #777;
  border-color: rgb(210,210,210);
}