.software-panels {
  .ripples {
    width: 40px;
    height: 300px;
    background-color: #444;
    border: solid 4px #666;
    position: relative;
    overflow: hidden;
    filter: contrast(200%);
  }

  .ball-container {
    filter: blur(20px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .ball {
    height: 100%;
    position: absolute;
    animation-name: ballmove;
    animation-iteration-count: infinite;
  }

  .ball:nth-child(1) {
    animation-duration: 13s;
    animation-delay: -2s;
  }

  .ball:nth-child(2) {
    animation-duration: 7s;
    animation-delay: -4s;
  }

  .ball:nth-child(3) {
    animation-duration: 10s;
    animation-delay: -7s;
  }

  .ball:nth-child(4) {
    animation-duration: 12s;
    animation-delay: -8s;
  }

  .ball:nth-child(5) {
    animation-duration: 10s;
    animation-delay: -1s;
  }

  .ball:nth-child(6) {
    animation-duration: 13s;
    animation-delay: -9s;
  }

  .ball:nth-child(7) {
    animation-duration: 10s;
    animation-delay: -9s;
  }

  .ball:nth-child(8) {
    animation-duration: 15s;
    animation-delay: -5s;
  }

  .ball:nth-child(9) {
    animation-duration: 7s;
    animation-delay: -5s;
  }

  .ball:nth-child(10) {
    animation-duration: 6s;
    animation-delay: -9s;
  }

  .ball:nth-child(11) {
    animation-duration: 7s;
    animation-delay: -10s;
  }

  .ball:nth-child(12) {
    animation-duration: 11s;
    animation-delay: -3s;
  }

  .ball:nth-child(13) {
    animation-duration: 13s;
    animation-delay: -10s;
  }

  .ball:nth-child(14) {
    animation-duration: 10s;
    animation-delay: -4s;
  }

  .ball:nth-child(15) {
    animation-duration: 9s;
    animation-delay: -4s;
  }

  .ball:nth-child(16) {
    animation-duration: 8s;
    animation-delay: -3s;
  }

  .ball .color {
    mix-blend-mode: hard-light;
    content: "";
    display: block;
    width: 40px;
    height: 50px;
    position: absolute;
    opacity: 0.75;
  }

  @keyframes ballmove {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(90%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
