.no-inline.switch {
 width: 40px;
  height: 40px;
  background-color: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.switch:before {
  content: '';
  width: 70%;
  height: 70%;
  background-color: #888;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.switch:after {
  content: '';
  width: 20%;
  height: 20%;
  background-color: #222;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0,0,0,1);
  position: absolute;
}
.no-inline.switch .toggle {
  display: block;
  border-top: 30px solid #bbb;
  border-bottom: 0px solid #bbb;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  z-index: 2;
  transform: translateY(-15px);
  cursor: pointer;
}
.toggle:before {
  content: '';
  display: block;
  background-color: #bbb;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  transform: translateY(-40px);
}
.no-inline.switch .toggle.off, .no-inline.switch .toggle.down {
  border-top: 0px solid #bbb;
  border-bottom: 30px solid #bbb;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
    transform: translateY(15px);
}
.no-inline.switch .toggle.middle {
  border-top: 0px solid #bbb;
  border-bottom: 5px solid #bbb;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: translateY(0px);
}
.no-inline.switch .toggle.off:before, .no-inline.switch .toggle.down:before {
    transform: translateY(24px);
}
.no-inline.switch .toggle.middle:before {
  transform: translateY(0px);
}
