.card-railgun {
  height: 100%;
  .row,
  .col {
    height: 100%;
  }
  .pointer {
    position: fixed;
    left: 0;
    top: 0;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 100;
  }
}
.railgun-loader {
  position: relative;
  .spacer {
    padding-top: 100%;
  }
  .railgun-controls {
    position: absolute;
    bottom: 40%;
    left: 20%;
  }
  .railgun {
    pointer-events: none;
    background-image: url("./railgun.svg");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  .ammo-holder {
    position: absolute;
    right: 8.8%;
    bottom: 19.3%;
    width: 10.8%;
    height: 49%;
    overflow: hidden;
    .bolt-holder {
      height: 100%;
      width: 100%;
      bottom: 0;
      position: absolute;
    }
    img {
      height: 20px;
      width: 100%;
      position: absolute;
      bottom: 0;
      transition: transform 0.5s ease 100ms;
    }
    .ammo-shadow {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-shadow: inset 0 10px 20px black;
    }
  }
  .fire-enter {
    transform: translateX(100%);
  }

  .fire-enter.fire-enter-active {
    transform: translateX(0px);
    transition: transform 100ms ease-out 0.5s;
  }
  .fire-leave {
    transform: translateX(0px);
  }

  .fire-leave.fire-leave-active {
    transform: translateX(-100%);
    transition: transform 100ms ease-in;
  }
}
