.transporter-control{
  .damageOverlay {
    z-index: 10000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: calc(100% + 200px);
    border: solid 1px rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.5);
    h1 {
      color: red;
    }
  }
  .targetBox{
    margin-top: 20px;
    background-color: rgba(0,0,0,0.5);
    background-image: linear-gradient(0deg, transparent 24%, rgba(0, 255, 0, 0.5) 25%, rgba(0, 255, 0, 0.5) 26%, transparent 27%, transparent 74%, rgba(0, 255, 0, 0.5) 75%, rgba(0, 255, 0, 0.5) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 255, 0, 0.5) 25%, rgba(0, 255, 0, 0.5) 26%, transparent 27%, transparent 74%, rgba(0, 255, 0, 0.5) 75%, rgba(0, 255, 0, 0.5) 76%, transparent 77%, transparent);
    background-size: 51px 51px;
    background-position-x: 16px;
    background-position-y: 23px;
    height: 60vh;
    border: solid 2px rgba(255,255,255,0.7);
    border-radius: 2px;
    padding: 0px !important;
  }

  .chargeBox{
    position: 'relative';
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.5);
    height: 60vh;
    border: solid 2px rgba(255,255,255,0.7);
    border-radius: 2px;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .chargeBar{
    position: 'absolute';
    flex: 1 0 auto;
    bottom: 0;
    background-color: yellow;
    background-image: linear-gradient(0deg, transparent 0%, rgba(0,0,0,0.5) 24%, rgba(0,0,0,0.5) 30%, transparent 100%);
    background-size: 1px;
    box-sizing: border-box;
    border: solid 1px #C0BC3D;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}