#issues-tracker .issues-body {
  background-color: #eee;
  border: solid 1px #ddd;
  border-radius: 0 5px 0 0;
  padding: 5px; }
  #issues-tracker .issues-body .form-group {
    margin-bottom: 4px; }
    #issues-tracker .issues-body .form-group label {
      margin-bottom: 1px; }
  #issues-tracker .issues-body .submit-button {
    margin-top: 10px; }
