.card-dilithium-stress {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  .bars-holder {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .dilithium-effects {
    width: 70vh;
    height: 70vh;
    position: absolute;
    bottom: 8%;
    left: 27%;
  }
  .stressHolder {
    position: absolute;
    right: 24%;
    left: calc(75% - 25px);
    border: solid 2px white;
    padding: 10px;
    height: 300px;
    width: 75px;
  }
  .stressBar {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background-size: 5px 3px, 100%;
    background-color: red;
    transition: height 0.5s ease-out;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .aBar {
    position: absolute;
    bottom: 1%;
    left: 5%;
  }
  .mBar {
    position: absolute;
    top: 1%;
    left: 5%;
  }
  .bar-holder {
    width: 20vw;
  }
  img {
    position: absolute;
    bottom: 0;
    left: 43%;
    height: 60%;
  }
  video {
    position: absolute;
    mix-blend-mode: screen;
    height: 100%;
    right: 50%;
    pointer-events: none;
  }
  .reaction-animation {
    height: 540px;
    width: 700px;
    pointer-events: none;
    right: 5%;
    top: 9%;
    left: unset;
    background-image: url("./frames.png");
    background-position: 0px 0px;
    position: absolute;
    animation: dilithium-stress 1s steps(20) infinite;
  }
  .matter-label {
    font-size: 3vw;
    width: 400px;

    position: absolute;
    left: 15%;
    top: 20%;
  }
  .antimatter-label {
    font-size: 3vw;
    width: 400px;

    position: absolute;
    left: 15%;
    bottom: 10%;
  }
  .stress-label {
    font-size: 3vw;
    position: absolute;
    right: 27%;
    top: 15%;
    width: 300px;
  }
  .antimatter,
  .matter,
  .plasma {
    width: 24%;
    left: 30.5%;
    position: absolute;
  }
  .antimatter {
    bottom: -4%;
    left: 52%;
  }
  .matter {
    transform: rotate(180deg);
    top: -4%;
    left: 52%;
  }
  .plasma {
    left: -1%;
    transform: rotate(90deg);
    top: 52%;
  }
}

@keyframes dilithium-stress {
  from {
    background-position: 0px;
  }
  to {
    background-position: 14000px;
  }
}
