.viewscreen-shipview {
  display: flex;
  height: 100%;
  align-items: center;
  .container-fluid,
  .row,
  .col,
  .col-sm-6 {
    height: 100%;
  }
  .row {
    align-items: center;
  }
  h1 {
    white-space: pre-line;
    font-size: 60px;
  }
  h2 {
    white-space: pre-line;
    font-size: 45px;
  }
  img {
    width: 100%;
    margin: 50px;
    height: 90%;
    object-fit: contain;
  }
}
