.software-panels {
  .light {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: solid 2px #aaa;
    border-radius: 50%;
  }
  .label {
    z-index: 500;
  }
  .connectors {
    pointer-events: none;
    .drag-line {
      pointer-events: all;
    }
  }

  .componentLibrary {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: solid 1px #eee;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.9);
    transition: transform 0.5s ease;
    z-index: 3;
  }
  .componentLibrary.shown {
    transform: translateX(0);
  }

  .componentLibrary .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 2px;
  }
  .drag-line:hover {
    opacity: 0.5;
  }
  .componentHolder {
    padding: 10px;
    margin: 10px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
  }
  .componentCanvas {
    position: relative;
    overflow: hidden;
    width: 100%;
    right: 0;
    top: 0;
    //height: 100vh;
    background-color: #666;
  }
  &.softwarePanels-card {
    .componentCanvas {
      background-color: transparent;
    }
  }
  .componentInstance {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .componentInstance div {
    pointer-events: all;
    display: inline-block;
    .no-inline.switch {
      display: flex;
    }
  }

  .output {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: rgba(25, 190, 36, 1);
    cursor: pointer;
  }
  .output:hover {
    background-color: rgba(45, 210, 56, 1);
  }
  .input {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: rgba(190, 25, 36, 1);
    cursor: pointer;
  }
  .input:hover {
    background-color: rgba(210, 45, 56, 1);
  }

  .connectors {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .and {
    padding: 3px;
    background-color: #333;
    display: inline-block;
    border-radius: 5px;
    color: white;
  }
  .scale {
    position: relative;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: linear-gradient(
      135deg,
      rgba(0, 130, 229, 0) 0%,
      rgba(0, 85, 194, 0) 50%,
      rgba(0, 84, 193, 1) 51%,
      rgba(0, 79, 189, 1) 56%,
      rgba(0, 78, 188, 0) 57%,
      rgba(0, 70, 182, 0) 66%,
      rgba(0, 69, 181, 1) 67%,
      rgba(0, 64, 178, 1) 72%,
      rgba(0, 63, 177, 0) 73%,
      rgba(0, 54, 170, 0) 83%,
      rgba(0, 53, 169, 1) 84%,
      rgba(0, 49, 166, 1) 89%,
      rgba(0, 47, 165, 0) 91%,
      rgba(0, 39, 158, 0) 100%
    );
  }
}
