.cargo-control {
  .card {
    margin-top: 10px;
    height: 70vh;
    &.search-container {
      height: unset;
      max-height: calc(70vh - 85px);
      overflow-y:scroll;
    }
    p {
      padding: 0.25rem;
      margin: 0px;
      border-radius: 2px;
      &:active {
        background-color: rgba(255,255,255,0.25);
      }
    }
  }
  .readyCargo {
    height: 300px;
  }
  .card-block {
    height: 100%;
    overflow-y: scroll;
  }
  .inventoryRow .card{
    overflow-y: scroll;
  }
}

.cargo-core {
  .find-overlay {
    background-color: white;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    list-style: disk;
  }
}