.reactor-control {
  .batteries {
    margin-bottom: 50px;
  }
  .battery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .battery {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 40vh;
      width: 100%;
      margin: 15px;
      margin-bottom: 25px;
      .battery-bar {
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        background-size: 5px 3px, 100%;
        background-color: #0f0;
        border: solid 2px #333;
        transition: height 1s linear;
      }
      .battery-level {
        text-align: center;
      }
    }
  }
  @media (width: 1024px) {
    .battery-holder {
      position: absolute;
      top: 10vh;
      right: 0;
    }
    .battery-container {
      .battery {
        height: 60vh;
      }
    }
  }
}

.reactor-control-core {
  .col {
    display: flex;
    flex-wrap: wrap;
  }
  .input-field,
  select.form-control-sm:not([size]):not([multiple]) {
    width: 60%;
    height: 18px;
  }

  p {
    width: 40%;
  }
}
