@import "../helpers/math.scss";

.docking {
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    margin-top: 10vh;
  }
}

.docking-graphic {
  height: 100%;
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  background-color: black;
  border: solid 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  @media (width: 1024px) {
    max-width: 300px;
    max-height: 300px;
  }
  // Clamps
  .clamps {
    position: relative;
    width: 100%;
    height: 100%;
    .xtransform {
      top: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      transform: translateX(-6%);
      transition: transform 1s ease-in-out;
    }
    .clamp {
      transition: transform 2s ease-in-out 1s;
      transform: translateY(-60%);
      div {
        position: absolute;
        background-color: gray;
      }
      position: absolute;
      width: 100%;
      height: 100%;
      right: 36%;
      top: 0px;
      .stem {
        height: 80%;
        width: 7%;
        top: 0;
        right: 0;
      }
      .branch {
        height: 7%;
        width: 15%;
        top: 73%;
        right: -15%;
      }
      .hook {
        width: 7%;
        height: 7%;
        right: -15%;
        top: 67%;
      }
    }
    .leftClamp {
      height: 100%;
      transform: scaleX(-1);
    }
    .bracket {
      div {
        position: absolute;
        background-color: gray;
      }
      width: 100%;
      height: 100%;
      .bottom {
        width: 90%;
        height: 10%;
        bottom: 5%;
        left: 5%;
      }
      .left,
      .right {
        width: 10%;
        height: 30%;
        bottom: 15%;
      }
      .left {
        left: 5%;
      }
      .right {
        right: 5%;
      }
      .left-brack,
      .right-brack {
        width: 20%;
        height: 10%;
        bottom: 35%;
      }
      .left-brack {
        left: 5%;
      }
      .right-brack {
        right: 5%;
      }
    }
    &.on {
      .xtransform {
        transform: translateX(2%);
        transition: transform 1s ease-in-out 2s;
      }
      .clamp {
        transform: translateY(1%);
        transition: transform 2s ease-in-out;
      }
    }
  }

  //Ramps
  .ramps {
    position: relative;
    height: 100%;
    .background {
      position: absolute;
      background-color: #555;
      height: 100%;
      width: 60%;
      left: 20%;
      border-radius: 1000px 1000px 0 0;
    }
    .floor {
      position: absolute;
      background-color: #333;
      height: 20%;
      width: 60%;
      left: 20%;
      bottom: 0%;
    }
    .ramp {
      position: absolute;
      width: 100%;
      z-index: 100;
      border-bottom: 100px solid #484848;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      top: 100%;
      transition: transform 1s ease-in-out;
      @media (width: 1024px) {
        border-bottom: 60px solid #484848;
      }
    }
    .left-door {
      position: absolute;
      height: 100%;
      width: 30%;
      left: 15%;
      background-color: gray;
      border-radius: 1000px 0 0 0;
      border: solid 5px #444;
      transition: transform 1s ease-in-out;
      transform: translateX(16%);
    }
    .right-door {
      position: absolute;
      height: 100%;
      width: 30%;
      right: 15%;
      background-color: gray;
      border-radius: 0 1000px 0 0;
      border: solid 5px #444;
      transition: transform 1s ease-in-out;
      transform: translateX(-16%);
      .handle1 {
        position: absolute;
        width: 50%;
        height: 20%;
        top: 20%;
        left: 20%;
        border: solid 7px #333;
        border-radius: 0 15px 15px 0;
      }
      .handle2 {
        position: absolute;
        width: 50%;
        height: 20%;
        top: 50%;
        left: 20%;
        border: solid 7px #333;
        border-radius: 0 15px 15px 0;
      }
    }
    &.on {
      .left-door {
        transform: translateX(-80%);
      }
      .right-door {
        transform: translateX(80%);
      }
      .ramp {
        transform: translateY(calc(-162% + 100px));
      }
    }
  }
  //Airlock
  .airlock {
    position: relative;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #222;
    @for $i from 1 through 12 {
      div.tri-#{$i} {
        position: absolute;
        left: 0%;
        top: 50%;
        width: 50%;
        height: 50%;
        background: linear-gradient(
          to right,
          #4c4c4c 0%,
          #595959 12%,
          #666666 25%,
          #474747 39%,
          #2b2b2b 76%,
          #1c1c1c 91%,
          #131313 100%
        );
        transform-origin: top right;
        transition: all 2s ease-in-out;
        clip-path: polygon(0% 25%, 100% 0%, 25% 75%);
        transform: rotate($i * 30deg);
        @media (width: 1024px) {
          width: 150px;
          height: 150px;
        }
      }
    }
    &.on {
      div {
        clip-path: polygon(0% 25%, 100% 100%, 25% 75%);
      }
    }
  }

  .legs {
    position: relative;
    height: 100%;
    overflow: hidden;
    //background-color: #222;
      .ship-bottom {
        position: absolute;
        height: 5%;
        width: 100%;
        .left {
          position: absolute;
          height: 100%;
          width: 43%;
          right: 68%;
          background-color: #444444;
          display: inline-block;
          transition: transform 1s ease-in-out 1.5s;
          transform: translateX(25%);
        }
        .middle {
          position: absolute;
          height: 100%;
          width: 15%;
          right: 42.5%;
          background-color: #444444;
          display: inline-block;
        }
        .right {
          position: absolute;
          height: 100%;
          width: 44%;
          right: -11%;
          background-color: #444444;
          display: inline-block;
          transition: transform 1s ease-in-out 1.5s;
          transform: translateX(-25%);
        }
      }
      .ymove {
        transition: transform 2s ease-in-out;
        transform: translateY(-100%);
        position: absolute;
        height: 100%;
        width: 100%;
        .left-leg {
          position: absolute;
          height: 60%;
          width: 7%;
          right: 59%;
          top: -5%;
          background-color: #666666;
        }
        .right-leg {
          position: absolute;
          height: 60%;
          width: 7%;
          right: 34%;
          top: -5%;
          background-color: #666666;
        }
        .left-foot {
          position: absolute;
          height: 12%;
          width: 7%;
          right: 59%;
          top: 55%;
          clip-path: polygon(0 0, 100% 1%, 100% 100%, 25% 100%, 0 67%);
          background-color: #666666;
          transition: 1s ease-in-out;
          transform: rotateZ(0deg);
          transform-origin: top;
        }
        .right-foot {
          position: absolute;
          height: 12%;
          width: 7%;
          right: 34%;
          top: 55%;
          clip-path: polygon(0% 0%, 100% 0, 100% 72%, 75% 100%, 0% 100%);
          background-color: #666666;
          transition: 1s ease-in-out;
          transform: rotateZ(0deg);
        }
      }

      &.on {
        .left {
          transition: transform 1s ease-in-out;
          transform: translateX(1%);
        }
        .right {
          transition: transform 1s ease-in-out;
          transform: translateX(1%);
        }
        .ymove {
          transition: transform 2s ease-in-out;
          transform: translateY(1%);
        }
        .left-foot {
          transition: 1s ease-in-out 1s;
          transform: rotateZ(90deg);
          transform-origin: top right;
        }
        .right-foot {
          transition: 1s ease-in-out 1s;
          transform: rotateZ(-90deg);
          transform-origin: top left;
        }
      }
    }
}

.graphics {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 80vh;
}
