$alertLeft: 90%;
$alertWidth: 5%;
$alertPadding: 0.2%;
$alertColor: #0f0;
$navigatorWidth: 220px;

$alert5: #3a6dda;
// $alert4: #237A23;
// $alert3: #4d4d16;
// $alert2: #804d19;
// $alert1: #801919;
// $alertp: #4d1980;
// $alert5: #2ba1cb;

$alert4: #36c236;
$alert3: #acac34;
$alert2: #cc7926;
$alert1: #ca2a2a;
$alertp: #4d1980;

.phoenix-frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(165, 165, 165, 1) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;

  .frame-holder {
    width: 100%;
    height: 100%;
    filter: drop-shadow(5px 5px 5px black);
  }

  .alert-condition-box {
    position: absolute;
    color: black;
    width: $alertWidth;
    height: 24px;
    transition: background-color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: impact;
    left: $alertLeft + $alertPadding;
    top: calc(100% - 74px);
    font-size: 24px;
  }
  .inner-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.85) 100%
    );
    transition: background-color 0.5s ease;
    clip-path: polygon(
      /* Top */ 0% 50px,
      88% 50px,
      97% 10px,
      88% 74px,
      $navigatorWidth 74px,
      ($navigatorWidth - 20px) 60px,
      0% 60px,
      /* Bottom */ 0% calc(100% - 10px),
      3% calc(100% - 10px),
      12% calc(100% - 74px),
      $alertLeft calc(100% - 74px),
      $alertLeft calc(100% - 50px),
      12% calc(100% - 50px),
      3% calc(100% - 10px),
      0% calc(100% - 10px),
      /* Bottom Right */ ($alertLeft + $alertWidth + $alertPadding * 2)
        calc(100% - 74px),
      ($alertLeft + $alertWidth + $alertPadding * 2) calc(100% - 50px),
      100% calc(100% - 50px),
      100% calc(100% - 74px),
      ($alertLeft + $alertWidth + $alertPadding * 2) calc(100% - 74px),
      0% calc(100% - 10px)
    );
  }
  .navigation {
    position: absolute;
    z-index: 1000000;
    width: 100vw;
    top: 0;
    left: 0;
    filter: drop-shadow(5px 5px 5px black);
    h1 {
      padding: 0;
      margin: 0;
      position: absolute;
      font-weight: 400;
      font-size: 40px;
      color: white;
      font-family: "Commador";
      font-style: italic;
      text-transform: uppercase;
      line-height: 1;
    }
    .card-name {
      top: 0px;
      left: 0px;
      padding-left: 10px;
      padding-top: 15px;
      padding-right: 30px;
      padding-bottom: 30px;
      font-size: 30px;
      cursor: pointer;
      pointer-events: all;
    }
    .cards {
      position: absolute;
      top: 60px;
      margin-bottom: 10px;
      left: 0;
      width: $navigatorWidth - 20px;
      pointer-events: none;
      overflow: hidden;
      .cards-holder {
        pointer-events: all;
        width: 100%;
        height: 100%;
        padding-top: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        transition: transform 0.5s ease;
      }
      .navigation-card {
        width: 100%;
        font-family: "LCARS";
        text-transform: uppercase;
        font-size: 24px;
        pointer-events: all;
        padding-left: 20px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    .navigator {
      position: absolute;
      width: $navigatorWidth;
      height: 14px;
      top: 66px;
      transition: background-color 0.5s ease;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.35) 100%
      );
      clip-path: polygon(0 0, $navigatorWidth - 20px 0, 100% 100%, 0% 100%);
      cursor: pointer;
      transition: transform 0.5s ease;
    }
    &.hypercard {
      pointer-events: none;
      * {
        pointer-events: none;
      }
    }
  }

  .frame-text {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: white;
    font-family: "Commador";
    font-style: italic;
    text-transform: uppercase;
    line-height: 1;
    h1 {
      padding: 0;
      margin: 0;
      position: absolute;
      font-weight: 400;
      font-size: 40px;
    }
    .simulator-name {
      bottom: 5px;
      right: 10px;
    }
    .station-name {
      top: 5px;
      right: 12%;
    }
    .card-name {
      top: 15px;
      left: 10px;
      font-size: 30px;
      cursor: pointer;
    }
  }
  .card-area {
    position: absolute;
    width: 90vw;
    height: calc(100vh - 180px);
    left: 5vw;
    top: 90px;
  }
  .widgets {
    left: 180px;
    bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  @mixin colors($color, $alertColor) {
    .inner-frame,
    .navigator {
      background-color: $color;
    }
    .alert-condition-box {
      background-color: $alertColor;
    }
  }
  &.alertColor5 {
    @include colors($alert5, #0f0);
  }
  &.alertColor4 {
    @include colors($alert4, #480);
  }
  &.alertColor3 {
    @include colors($alert3, #ff0);
  }
  &.alertColor2 {
    @include colors($alert2, #f80);
  }
  &.alertColor1 {
    @include colors($alert1, #f00);
  }
  &.alertColorp {
    @include colors($alertp, rebeccapurple);
  }
  // Theme
  .dropdown-menu {
    background-color: black;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 2px;
  }
  .dropdown-item {
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 2px;
    &:hover {
      background-color: gray;
      color: white;
    }
  }
  .btn,
  .btn.disabled,
  .btn:disabled {
    border-radius: 10px;
    border-width: 1px;
    border-radius: 0;
    color: white;
  }
  .form-control,
  .form-control:active,
  .form-control:focus,
  .form-control:disabled,
  .form-control.disabled,
  .form-control:read-only {
    border-radius: 0;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
  .form-control:disabled,
  .form-control.disabled {
    color: gray;
    border-color: gray;
  }
  .list-group-item {
    border-radius: 0;
    background-color: #2e2e2e;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .card {
    border-radius: 0;
    background-color: #2e2e2e;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
  }
  pre {
    color: white;
  }
}
