.viewscreen-internalSensors {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  flex-direction:column;
  h1 {
    padding-bottom: 40px;
    font-size: 50px;
  }
  h2 {
    padding-top: 40px;
    font-size: 60px;
    white-space: pre-wrap;
  }
  .ship {
    width: 50%;
    position: relative;
  }
  .scanner {
    height: 100%;
    width: 100%;
    position: absolute;
    mix-blend-mode: overlay;
    -webkit-mask-image: url(http://localhost:3000/assets/Ship%20Views/Right/default.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    }
  img {
    width: 100%;
  }
}