.tractor-beam {
  height: 100%;

  #tractorEffect {
    transition: opacity 1s ease-in-out;
    pointer-events: none;
    opacity: 0;
    &.shown {
      opacity: 1;
    }
  }
  .target {
    transition: opacity 1s ease-in-out;
    opacity: 0;
    &.shown {
      opacity: 1;
    }
    span {
      text-align: center;
      font-size: 20px;
      display: inline-block;
      width: 100%;
    }
  }

  .barLabel {
    font-size: 24px;

    text-align: center;
  }
}
.tractor-beam-core {
  label {
    width: 90%;
    margin-right: 20px;
  }
}

.bar-container {
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &.shown {
    opacity: 1;
  }
}
.bar-holder {
  width: 300px;
  position: relative;
}
.arrow-container {
  position: absolute;
  height: 100%;
  left: -50px;
  bottom: 0;
}
.arrow-container.flop {
  right: -50px;
  left: auto;
}
.bar {
  background-color: red;
  height: 4px;
  border-radius: 50px;
  margin: 3px;
}
