.keyboard-holder {
  font-size: 36px;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}
