.core-hacking {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-hacking {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  .port-scanning {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    .btn-container {
      display: inline-block;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5),
        5px -5px 20px rgba(0, 0, 0, 0.5), -5px -5px 20px rgba(0, 0, 0, 0.5),
        -5px 5px 20px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.3),
        5px -5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.3),
        -5px 5px 10px rgba(0, 0, 0, 0.3), inset 5px 5px 10px rgba(0, 0, 0, 0.3),
        inset 5px -5px 10px rgba(0, 0, 0, 0.3),
        inset -5px -5px 10px rgba(0, 0, 0, 0.3),
        inset -5px 5px 10px rgba(0, 0, 0, 0.3);
      z-index: 5;
    }
  }
  .port-scan-text {
    z-index: 5;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5),
      5px -5px 20px rgba(0, 0, 0, 0.5), -5px -5px 20px rgba(0, 0, 0, 0.5),
      -5px 5px 20px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.3),
      5px -5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.3),
      -5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .frequencyContainer {
    width: 200px;
    height: 70%;
  }
  .frequency-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    justify-content: center;
  }
  .signalCanvas {
    height: 70%;
    width: 200px;
    position: relative;
    overflow: hidden;
  }
  .signal-right {
    height: 100%;
  }
  .bar {
    border-radius: 0;
    position: absolute;
    right: 40%;
    height: 100%;
    width: 60%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background-size: 5px 3px, 100%;
    &.frequencyBar {
      background-color: #00ff00;
    }
  }
  .arrowHolder-right {
    position: absolute;
    right: 20%;
    width: 9%;
    height: 100%;
  }
}
