.credit-bg{
	height: 100vh;
	width: 100%;
	background-image: url('/js/images/credit-bg.jpg');
	.container{
		height: 100%;
		overflow: scroll;
		padding: 50px; 
		text-align: center;
		img{
			width: 20%;
			-webkit-filter: drop-shadow(16px 16px 20px black);
			filter: drop-shadow(16px 16px 20px black);
		}
		h1,h2,h3,h4,h5,h6,p{
			color: #fff;
		}
		h1{
			font-size: 48px;
		}
	}
}