.core-timeline {
  padding: 0 4px;
  .btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .btn {
      flex: 1;
    }
  }
  pre {
    white-space: pre-line;
    color: white;
  }
  .timeline-list {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    padding: 10px 0;
    height: calc(100vh - 120px);
    display: block;
    overflow-y: auto;
  }

  .timeline-item {
    border: solid 1px rgba(255, 255, 255, 0.5);
    * {
      user-select: text;
    }
  }
}
