.missionConfig {
  li {
    &.selected {
      background-color: rgba(0,0,0,0.1);
    }
  }
  .loading {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    h1, h4 {
      color: white;
    }
    svg {
      width: 20%;
      height: 20%;
      animation: spinloader 0.5s linear infinite;
    }
    svg path,
svg rect{
  fill: #FF6700;
}
  }
}

@keyframes spinloader {
  from {transform: rotate(0deg)}
  to {transform: rotate(359deg)}
}