.card-countermeasures {
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: auto 1fr 1fr;
  padding: 1rem;
  gap: 4rem;
  grid-template-areas:
    "countermeasure center none2"
    "modules center none2"
    "materials center none2";
  .countermeasure-control {
    grid-area: countermeasure;
  }
  .modules {
    grid-area: modules;
  }

  .module-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .module-card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 1em;
    padding: 0.5em 1em;
  }
  .materials {
    grid-area: materials;

    .materials-container {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }
    --radial-color: #fff000;
    --end-angle: 0%;
    .material {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .radial-dial {
      position: relative;
      background: conic-gradient(
        var(--radial-color) 0%,
        var(--radial-color) var(--end-angle),
        transparent var(--end-angle),
        transparent 100%
      );
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .radial-dial:before {
      content: attr(data-value) " ";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      left: 20%;
      top: 20%;
      position: absolute;
      background-color: #333;
      border-radius: 50%;
    }
  }
  .center {
    grid-area: center;
    position: relative;
    align-self: center;

    .inner-center {
      position: relative;
    }
    .slot {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: yellow;
      border-radius: 50%;
      cursor: pointer;
      --end-angle: 0%;
      --radial-color: #0f0;
      &:before {
        width: 40px;
        height: 40px;
        left: -5px;
        top: -5px;
        position: absolute;
        border-radius: 50%;
        content: "";
        z-index: -1;
        background: conic-gradient(
          var(--radial-color) 0%,
          var(--radial-color) var(--end-angle),
          transparent var(--end-angle),
          transparent 100%
        );
      }
    }
    .selected {
      background-color: goldenrod;
    }
    .slot1 {
      left: calc(50% - 15px);
      bottom: 100%;
    }
    .slot2 {
      left: calc(90% - 15px);
      top: calc(10% - 15px);
    }
    .slot3 {
      left: 100%;
      top: calc(50% - 15px);
    }
    .slot4 {
      left: calc(90% - 15px);
      top: calc(90% - 15px);
    }
    .slot5 {
      left: calc(50% - 15px);
      top: 100%;
    }
    .slot6 {
      left: calc(10% - 15px);
      top: calc(90% - 15px);
    }
    .slot7 {
      right: 100%;
      top: calc(50% - 15px);
    }
    .slot8 {
      left: calc(10% - 15px);
      top: calc(10% - 15px);
    }
  }
}
