.viewscreen-video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.overlay {
    background-color: black;
    z-index: 1000;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
}
