.non-editing {
  .mosaic {
    .mosaic-root {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
    .mosaic-window-toolbar {
      pointer-events: none;
      height: 16px;
    }
    .mosaic-tile {
      margin: 0;
    }
    .mosaic-window-controls,
    .mosaic-split {
      display: none;
    }
  }
}

.mosaic {
  background-color: black;
  font-family: "Gill Sans", sans-serif;
  font-size: 12;
  line-height: 1;
  .mosaic-root {
    background: #202a33;
  }
  .mosaic-toolbar-button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  .mosaic-window-toolbar {
    background: #30404d;
    box-shadow: 0 1px 1px rgba(16, 22, 26, 0.4);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin: 0 1px;
  }

  .mosaic-window-body {
    overflow-y: auto;
    background: #293742;
    border-top-width: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 1px;
  }
  .pt-button {
    color: #a7b6c2;
    border-radius: 3px;
    box-shadow: none;
    background: none;
    padding: 0;
    flex: 0 0 auto;
    position: relative;
    z-index: 4;
    vertical-align: middle;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    display: inline-block;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
  }
  .pt-button[class*="pt-icon-"]::before {
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-right: 7px;
    color: #5c7080;
  }
  .pt-icon-cross::before {
    content: "\f00d";
  }
  .pt-icon-maximize::before {
    content: "\f2d0";
  }
  .pt-icon-add-column-right::before {
    content: "\f0db";
  }
  .btn {
    line-height: 1;
  }
}

.core-picker {
  height: 100%;
  overflow-y: scroll;
  .categories {
    display: flex;
    flex-wrap: wrap;
  }
  .category {
    margin: 10px;
  }
}
