.sensorGridHolder{
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.heightPlaceholder {
  margin-top: 100%;
}
.core .react-grid-item .sensorGridCore div{
  height: initial;
}