.damage-monitoring h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 50px; }

.damage-monitoring .ship-view,
.damage-monitoring .damage-view {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.damage-monitoring .damage-list {
  max-height: 60vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.damage-monitoring .damage-view {
  animation-name: damageMonitorFadeDamage;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite; }

.damage-monitoring .ship-view {
  animation-name: damageMonitorFadeShip;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite; }
  .damage-monitoring .ship-view .scanner-mask {
    height: 100%;
    -webkit-mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mix-blend-mode: overlay; }
  .damage-monitoring .ship-view .scanner-holder {
    height: 100%;
    width: 100%;
    animation-name: damageMonitorScan;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; }
  .damage-monitoring .ship-view .scanner {
    width: 4%;
    height: 100%;
    background-color: yellow;
    box-shadow: 0px 0px 20px 5px yellow; }

.damage-monitoring .damage-view p {
  font-size: 36px;
  color: red;
  text-shadow: 0px 0px 5px #440000;
  margin: 30px; }

@keyframes damageMonitorScan {
  0% {
    transform: translateX(-4%); }
  30% {
    transform: translateX(104%); }
  100% {
    transform: translateX(104%); } }

@keyframes damageMonitorFadeShip {
  30% {
    opacity: 1; }
  40% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes damageMonitorFadeDamage {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
