.file-explorer {
  //padding: 10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .fa {
    color: #555;
  }
  .directory-container {
    display: flex;
    flex-wrap: wrap;
    & > div {
      margin: 2px;
      width: 20%;
      min-width: 100px;
      p {
        margin-bottom: 2px;
      }
    }
  }
  .file-container {
    //padding: 10px;
    border: solid 1px rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    text-align: center;
    height: 100%;
    flex-basis: auto;
    &.selected {
      background-color: rgba(128, 128, 128, 0.2);
    }
    img {
      width: 80%;
    }
  }
  .audio-preview {
    display: block;
    height: 30px;
    width: 100%;
  }
}
