.lobby{
	.modal-dialog{
		width: 90vw;
	}
}

.modal-content{
  background-color: rgba(0,0,0,0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: solid 1px rgba(255,255,255,0.5);
  color: #333;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}