$alert5: #2ba1cb;
$alert4: #36c236;
$alert3: #acac34;
$alert2: #cc7926;
$alert1: #ca2a2a;
$alertp: #7a24cf;

@mixin button-variant($background) {
  $background: lighten(desaturate($background, 20%), 10%);
  background: rgba($background, 0.3);
  background-color: transparent;
  border: solid 1px $background;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 20px -5px rgba(saturate($background, 10%), 0.5),
    0px 0px 15px -2px rgba(saturate($background, 10%), 1);
  &:hover:not([disabled]) {
    color: white;
    background: rgba($background, 0.5);
    box-shadow: inset 0px 0px 20px 0px rgba(saturate($background, 10%), 1),
      0px 0px 10px -2px rgba(saturate($background, 10%), 1);
  }
  &:focus {
    color: white;
    box-shadow: inset 0px 0px 20px 0px rgba(saturate($background, 10%), 1),
      0px 0px 10px -2px rgba(saturate($background, 10%), 1);
  }
  &:active,
  &.active {
    color: white;

    background: rgba($background, 0.3);
    box-shadow: inset 0px 0px 20px 0px
        rgba(darken(saturate($background, 10%), 20%), 1),
      0px 0px 10px -2px rgba(saturate($background, 10%), 1);
  }
}

@mixin card-variant($background) {
  $background: lighten(desaturate($background, 20%), 10%);
  background: rgba($background, 0.15);
  border: solid 1px $background;
  box-shadow: inset 0px 0px 20px -5px rgba(saturate($background, 10%), 0.5),
    0px 0px 15px -2px rgba(saturate($background, 10%), 1);
}

@mixin input-variant($background) {
  color: white;
  $background: lighten(desaturate($background, 20%), 10%);
  background: rgba(desaturate($background, 20%), 0.15);
  border: solid 1px desaturate($background, 20%);
  box-shadow: inset 0px 0px 20px -5px rgba(desaturate($background, 20%), 0.5),
    0px 0px 15px -2px rgba(desaturate($background, 20%), 1);
  &:hover {
    box-shadow: inset 0px 0px 20px 0px rgba(saturate($background, 10%), 1),
      0px 0px 10px -2px rgba($background, 1);
  }
  &:focus {
    box-shadow: inset 0px 0px 20px 0px rgba(saturate($background, 10%), 1),
      0px 0px 10px -2px rgba(saturate($background, 10%), 1);
  }
}

@mixin parts-colors($background) {
  .card {
    @include card-variant($background);
  }
  .dropdown-menu {
    @include card-variant($background);
    background: darken(rgba($background, 0.9), 20%);
    width: 100%;
    transition: all 0.5s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
    &.show {
      pointer-events: all;
      opacity: 1;
    }
    .dropdown-item {
      color: white;
      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  input,
  textarea {
    @include input-variant($background);
  }

  .list-group {
    margin-right: 4px;
    border-radius: 5px;
    @include card-variant($background);
  }
  .keypadButtons .keypad,
  .keypadButtons .enter {
    @include button-variant($background);
  }
  .card-icon-container {
    .card-icon {
      @include card-variant($background);
    }
  }
}

.layout-cautiontape {
  background-color: black;
  color: white;
  font-family: "Saira", sans-serif;

  .card-switcher-holder {
    z-index: 100;
    position: absolute;
    top: 69px;
    left: 0;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .card-switcher {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img {
      margin: 20px 16px;
      width: 40px;
      border-radius: 50%;
      box-sizing: content-box;
      transition: background-color 0.2s ease, border-color 0.2s ease;
    }
    img.card-icon-assigned.card-icon-assigned {
      background-color: gold;
      border: solid 2px gold;

      &:hover {
        background-color: darken(gold, 20%);
        border: solid 2px darken(gold, 20%);
      }
      &.active {
        background-color: lighten(gold, 20%);
        border: solid 2px lighten(gold, 20%);
      }
    }
  }

  @mixin cardSwitcherColors($color) {
    .card-switcher {
      img {
        background-color: $color;
        border: solid 2px $color;
        &:hover {
          background-color: darken($color, 20%);
          border: solid 2px darken($color, 20%);
        }
        &.active {
          background-color: lighten($color, 20%);
          border: solid 2px lighten($color, 20%);
        }
      }
    }
  }
  @include cardSwitcherColors(white);
  &.alertColor5 {
    @include parts-colors($alert5);
    .card-frame {
      background: url(./images/smoke.png), url(./images/5.png);
    }
  }
  &.alertColor4 {
    @include parts-colors($alert4);
    .card-frame {
      background: url(./images/smoke.png), url(./images/4.png);
    }
  }
  &.alertColor3 {
    @include parts-colors($alert3);
    .card-frame {
      background: url(./images/smoke.png), url(./images/3.png);
    }
  }
  &.alertColor2 {
    @include parts-colors($alert2);
    .card-frame {
      background: url(./images/smoke.png), url(./images/2.png);
    }
  }
  &.alertColor1 {
    @include parts-colors($alert1);
    .card-frame {
      background: url(./images/smoke.png), url(./images/1.png);
    }
  }
  &.alertColorp {
    @include parts-colors($alertp);
    .card-frame {
      background: url(./images/smoke.png), url(./images/p.png);
    }
  }
  .card-frame {
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    background: url(./images/smoke.png), url(./images/1.png);
    background-position: center;
  }
  .simulator-name,
  .station-name,
  .card-name {
    z-index: 11;
    position: absolute;
    font-family: "Bank Gothic";
    text-transform: uppercase;
    line-height: 0;
    text-shadow: 0px 0px 10px black;
  }
  .simulator-name {
    right: 20px;
    bottom: 30px;
    font-size: 50px;
  }
  .station-name {
    top: 30px;
    left: 20px;
    font-size: 50px;
  }
  .card-name {
    top: 30px;
    font-size: 50px;
  }
  .frame-container {
    z-index: 11;
    pointer-events: none;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    left: 20px;
    top: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s ease;
  }
  .frame-outer {
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .card-area {
    top: 100px;
    left: 108px;
    right: 48px;
    width: calc(100% - 126px);
    height: calc(100% - 196px);
    position: relative;
  }
  &.viewscreen {
    .card-area {
      z-index: 1;
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
    }
  }
  .widgets {
    right: 60px;
    top: 20px;
    left: auto;
  }

  .btn-cloak {
    border-color: $alertp;
    &:hover {
      background-color: darken($alertp, 5%);
    }
  }
  .btn-default {
    border-color: gray;
    &:hover {
      background-color: darken(gray, 5%);
    }
  }
  // Theme
  .dropdown-menu {
    background-color: black;
    color: white;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
  }
  .dropdown-item {
    color: white;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
    &:hover {
      background-color: gray;
      color: white;
    }
  }
  .btn,
  .btn.disabled,
  .btn:disabled {
    border-width: 2px;
    background-color: transparent;
    color: white;
  }
  .form-control,
  .form-control:active,
  .form-control:focus,
  .form-control:disabled,
  .form-control.disabled,
  .form-control:read-only {
    border-width: 2px;
    background-color: transparent;
    color: white;
  }
  .form-control:disabled,
  .form-control.disabled {
    color: gray;
    border-color: gray;
  }
  .list-group-item {
    border: solid 1px transparent;
    background-color: rgba(0, 0, 0, 0.1);
    &.active {
      background-color: rgba(255, 255, 255, 0.3);
      border: solid 1px rgba(255, 255, 255, 0.5);
    }
  }
  .card {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
  }
  pre {
    color: white;
  }
  button {
    color: white;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.1s ease;
    &.btn-default {
      @include button-variant(desaturate($alert5, 100%));
    }
    &.btn-primary {
      @include button-variant($alert5);
    }
    &.btn-secondary {
      @include button-variant($alert2);
    }
    &.btn-success {
      @include button-variant(#198019);
    }
    &.btn-info {
      @include button-variant(#198080);
    }
    &.btn-warning {
      @include button-variant($alert2);
    }
    &.btn-cloak {
      @include button-variant($alertp);
    }
    &.btn-danger {
      @include button-variant($alert1);
    }
  }
}
