.credit-bg,
.error-boundary {
  height: 100vh;
  width: 100%;
  background-image: url("./credit-bg.jpg");
  background-size: cover;
  .container {
    height: 100%;
    overflow-y: hidden;
    padding: 50px;
    text-align: center;
    color: white;
    .scroll {
      height: calc(100vh - 323px);
      overflow: hidden;
      .scroller {
        animation-name: credits-scroll;
        animation-duration: 80s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      .creditSection {
        margin-top: 40px;
      }
    }
    img {
      width: 20%;
      -webkit-filter: drop-shadow(16px 16px 20px black);
      filter: drop-shadow(16px 16px 20px black);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: #fff;
    }
    h1 {
      font-size: 48px;
    }
  }
}

.all-caps {
  * {
    text-transform: uppercase;
  }
}
@keyframes credits-scroll {
  from {
    transform: translateY(calc(100vh - 325px));
  }
  to {
    transform: translateY(-105%);
  }
}
