.messages {
  .message-holder {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  .list-group-item {
    &.selected {
      background-color: rgba(255, 255, 255, 0.2);
    }
    div {
      width: 100%;
    }
  }
  .message {
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    width: fit-content;
    max-width: 70%;
    border-radius: 5px;
    clear: both;
    &.sent {
      background-color: rgba(150, 190, 255, 0.3);
      float: right;
    }
  }
}
