@import url("https://fonts.googleapis.com/css?family=Saira");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200");

$alert5: #233f7a;
$alert4: $alert5;
$alert3: #7a7a23;
$alert2: #804d19;
$alert1: #801919;
$alertp: #4d1980;
$color: $alert5;

@mixin button-variant($background) {
  $background: lighten(desaturate($background, 20%), 10%);
  background: rgba($background, 0.1);
  border: solid 1px $background;
  box-shadow: inset 0px 0px 20px -5px rgba(saturate($background, 10%), 0.5),
    0px 0px 15px -2px rgba(saturate($background, 10%), 1);
  &:hover:not([disabled]) {
    color: white;
    background: rgba($background, 0.5);
    box-shadow: inset 0px 0px 20px 0px rgba(saturate($background, 10%), 1),
      0px 0px 10px -2px rgba(saturate($background, 10%), 1);
  }
  &:focus {
    box-shadow: inset 0px 0px 20px 0px rgba(saturate($background, 10%), 1),
      0px 0px 10px -2px rgba(saturate($background, 10%), 1);
  }
  &:active {
    background: rgba($background, 0.3);
    box-shadow: inset 0px 0px 20px 0px
        rgba(darken(saturate($background, 10%), 20%), 1),
      0px 0px 10px -2px rgba(saturate($background, 10%), 1);
  }
}

@mixin card-variant($background) {
  $background: lighten(desaturate($background, 20%), 10%);
  background: rgba($background, 0.1);
  border: solid 1px $background;
  box-shadow: inset 0px 0px 20px -5px rgba(saturate($background, 10%), 0.5),
    0px 0px 15px -2px rgba(saturate($background, 10%), 1);
}

@mixin input-variant($background) {
  color: white;
  $background: lighten(desaturate($background, 20%), 10%);
  background: rgba(desaturate($background, 20%), 0.1);
  border: solid 1px desaturate($background, 20%);
  box-shadow: inset 0px 0px 20px -5px rgba(desaturate($background, 20%), 0.5),
    0px 0px 15px -2px rgba(desaturate($background, 20%), 1);
  &:hover {
    box-shadow: inset 0px 0px 20px 0px rgba(saturate($background, 10%), 1),
      0px 0px 10px -2px rgba($background, 1);
  }
  &:focus {
    box-shadow: inset 0px 0px 20px 0px rgba(saturate($background, 10%), 1),
      0px 0px 10px -2px rgba(saturate($background, 10%), 1);
  }
}

@mixin parts-colors($background) {
  .card {
    @include card-variant($background);
  }

  input,
  textarea {
    @include input-variant($background);
  }

  .list-group {
    margin-right: 4px;
    border-radius: 5px;
    @include card-variant($background);
  }
  .keypadButtons .keypad,
  .keypadButtons .enter {
    @include button-variant($background);
  }
  .card-icon-container {
    .card-icon {
      @include card-variant($background);
    }
  }
}
.layout-glass {
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: "Saira", sans-serif;
  color: #eee;
  .frame-text {
    h1,
    h2 {
      font-family: "BebasNeue";
      font-weight: 300;
    }
  }
  .widgets {
    top: 6vh;
    left: 39vw;
    width: 23vw;
    display: flex;
    justify-content: space-between;
  }
  .card-icon-container {
    top: 33vh;
    left: 3vw;
    .card-icon-item {
      margin-bottom: 97px;
    }
    .card-icon {
      opacity: 0.8;
    }
    .card-icon-background {
      background-color: transparent !important;
    }
    .card-button-mask {
      top: 10px;
    }
    .btn {
      width: 0;
      overflow: hidden;
      transition: width 0.5s ease, padding 0.5s ease;
      padding-left: 0px;
      padding-right: 0;
      font-size: 24px;
    }
    &:hover {
      .btn {
        width: 100%;
        padding-left: 30px;
        padding-right: 20px;
      }
    }
  }
  .simulator-name,
  .station-name,
  .login-name {
    text-shadow: 0px 0px 4px lighten($alert5, 20%);
    position: absolute;
    text-align: center;
    color: #aaa;
  }
  .simulator-name {
    top: 4.8vh;
    left: 5vh;
    font-size: 6vh;
    width: 30vw;
  }
  .station-name {
    top: 4.8vh;
    right: 5vh;
    font-size: 6vh;
    width: 30vw;
  }
  .login-name {
    top: 13vh;
    left: 5vh;
    font-size: 4vh;
    width: 26vw;
  }
  .cardContainer {
    max-width: 88vw;
    height: 75vh;
    width: 100%;
    position: absolute;
    left: 10vw;
    top: 19vh;
  }
  video {
    mix-blend-mode: screen;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
  button {
    color: white;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.1s ease;
    &.btn-default {
      @include button-variant(desaturate($alert5, 100%));
    }
    &.btn-primary {
      @include button-variant($alert5);
    }
    &.btn-secondary {
      @include button-variant($alert2);
    }
    &.btn-success {
      @include button-variant(#198019);
    }
    &.btn-info {
      @include button-variant(#198080);
    }
    &.btn-warning {
      @include button-variant($alert2);
    }
    &.btn-cloak {
      @include button-variant($alertp);
    }
    &.btn-danger {
      @include button-variant($alert1);
    }
  }
  .list-group-item {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
  pre {
    color: white;
  }
  &.alertColor5 {
    @include parts-colors($alert5);
  }
  &.alertColor4 {
    @include parts-colors($alert4);
  }
  &.alertColor3 {
    @include parts-colors($alert3);
    video {
      filter: hue-rotate(198deg);
    }
  }
  &.alertColor2 {
    @include parts-colors($alert2);
    video {
      filter: hue-rotate(156deg);
    }
  }
  &.alertColor1 {
    @include parts-colors($alert1);
    video {
      filter: hue-rotate(126deg);
    }
  }
  &.alertColorp {
    @include parts-colors($alertp);
    video {
      filter: hue-rotate(68deg);
    }
  }
}
