
.core-default {
  margin-right: 20px;
  display: grid;
  height: calc(100vh - 26px);
  grid-template-columns: 120px 60px 180px 1fr 1fr 300px 15%;
  grid-template-rows: 80px 60px 40px 180px 1fr 100px 100px 120px; 
  grid-template-areas:
  "engineControl engineControl  navigation     sensors       sensors     shortRange            systems"
  "thrusters     thrusters      navigation     sensors       sensors     shortRange            systems"
  "thrusters thrusters          docking     sensors       sensors     shortRange            systems"
  "targeting     targeting      targeting      sensors       sensors     longRange             systems"
  "phaser        torpedo        torpedo        sensorScans   messageSending     internalComm         systems"
  "shields       shields        shields        sensorScans   messageSending   damageReports   damageReports"
  "shields       shields        shields        sensorScans   actions   damageReports   damageReports"
  "reactor       reactor        heat   remoteAccess   viewscreen   damageReports   damageReports";
  
  
  & > div {
    overflow: hidden;
    border: solid 1px rgba(255,255,255,0.2);
    background-color: #333;
  }
  .EngineControlCore {
    grid-area: engineControl;    
  }
  .ThrusterCore {
    grid-area: thrusters;    
  }
  .NavigationCore {
    grid-area: navigation;
  }
  .DockingCore {
    grid-area: docking;
  }
  .SensorsGridCore {
    grid-area: sensors;
  }
  .SensorsCore {
    grid-area: sensorScans;
  }
  .SystemsCore {
    grid-area: systems;
  }
  .PhaserCore {
    grid-area: phaser;
  }
  .TorpedoCore {
    grid-area: torpedo;
  }
  .TargetingCore {
    grid-area: targeting;
  }
  .ShieldControlCore {
    grid-area: shields;
  }
  .DamageReportsCore {
    grid-area: damageReports;
  }
  .InternalCommCore {
    grid-area: internalComm;
  }
  .CommShortRangeCore {
    grid-area: shortRange;
  }
  .LRCommCore {
    grid-area: longRange;
  }
  .ReactorControlCore {
    grid-area: reactor;
  }
  .HeatCore {
    grid-area: heat;
  }
  .ActionsCore {
    grid-area: actions;
  }
  .DecodingCore {
    grid-area: messageSending;
  }
  .ViewscreenCore {
    grid-area: viewscreen;
  }
  .RemoteCore {
    grid-area: remoteAccess;
  }
  .ProbeNetworkCore {
    grid-area: probeNetwork
  }
}