.core-iifx {
  display: grid;
  height: calc(100vh - 26px);
  grid-template-columns: 120px 60px 180px 1fr 1fr 300px 15%;
  grid-template-rows: 40px 100px 40px 180px 1fr 100px 100px 120px; 
  grid-template-areas:
  "engineControl engineControl  tractorBeam     securityTeams       damageTeams     shortRange            systems"
  "thrusters     thrusters      tractorBeam     securityTeams       damageTeams     shortRange            systems"
  "thrusters     thrusters      tractorBeam     securityTeams       damageTeams     shortRange            systems"
  "transporters  transporters   cargo           timeline             shuttles         messageSending        systems"
  "stealthField  stealthField   crew            sensorScans          longRange      internalComm         systems"
  "probeControl  probeControl   probeControl    sensorScans         longRange      damageReports   securityDoors"
  "probeControl  probeControl   probeControl    sensorScans         actions         damageReports   securityDoors"
  "reactor       reactor        probeNetwork    remoteAccess         viewscreen     damageReports   securityDoors";
 & > div {
   overflow: hidden;
   border: solid 1px rgba(0,0,0,0.2);
   background-color: #333;
 }

 .TransporterCore {
   grid-area: transporters;
 }
 .SensorsCore {
   grid-area: sensorScans;
 }
 .DecodingCore {
   grid-area: longRange;
 }
 .LRCommCore {
   grid-area: messageSending;
 }
 .InternalCommCore {
   grid-area: internalComm;
 }
 .SystemsCore {
   grid-area: systems;
 }
 .CommShortRangeCore {
   grid-area: shortRange;
 }
 .RemoteCore {
   grid-area: remoteAccess;
 }
 .DamageReportsCore {
   grid-area: damageReports;
 }
 .DecksCore {
   grid-area: nothing;
 }
 .CargoCore {
   grid-area: cargo;
 }
 .ActionsCore {
   grid-area: actions;
 }
 .ThrusterCore {
   grid-area: thrusters;
 }
 .StealthFieldCore {
   grid-area: stealthField;
 }
 .TractorBeamCore {
   grid-area: tractorBeam;
 }
 .CrewCore {
   grid-area: crew;
 }
 .SecurityTeamsCore {
   grid-area: securityTeams;
 }
 .DamageTeamsCore {
   grid-area: damageTeams;
 }
 .ProbeNetworkCore {
   grid-area: probeNetwork;
 }
 .ProbeControlCore {
   grid-area: probeControl;
 }
 .ReactorControlCore {
   grid-area: reactor;
 }
 .ViewscreenCore {
   grid-area: viewscreen;
 }
 .TimelineCore {
   grid-area: timeline;
 }
 .ShuttlesCore {
   grid-area: shuttles;
 }
 .SecurityDecksCore {
   grid-area: securityDoors
 }
}