.self-destruct {
  .holder {
    margin: 0 auto;
    height: 52vh;
    width: 52vh;
    position: relative;
    &.on {
      background: linear-gradient(
        46deg,
        black 25%,
        #ff0 25%,
        #ff0 50%,
        black 50%,
        black 75%,
        #ff0 75%
      );
      background-size: 40px;
      border-radius: 50%;
      animation: dangerAnimation 1s infinite; /* IE 10+ */
      animation-timing-function: linear;
    }
  }
  .self-destruct-button {
    cursor: pointer;
    position: absolute;
    height: 50vh;
    width: 50vh;
    left: 1vh;
    top: 1vh;
    border-radius: 50%;
    border: solid 10px gray;
    background: linear-gradient(
      to bottom,
      saturate(darken(#f00, 20%), 5%) 0%,
      saturate(darken(#f00, 5%), 5%) 50%,
      saturate(darken(#f00, 30%), 5%) 100%
    );
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    &:hover {
      background: linear-gradient(
        to bottom,
        saturate(darken(#f00, 25%), 5%) 0%,
        saturate(darken(#f00, 10%), 5%) 50%,
        saturate(darken(#f00, 35%), 5%) 100%
      );
    }
    &:active {
      background: linear-gradient(
        to bottom,
        saturate(darken(#f00, 35%), 5%) 0%,
        saturate(darken(#f00, 20%), 5%) 50%,
        saturate(darken(#f00, 45%), 5%) 100%
      );
    }
  }
  .counter {
    font-size: 6rem;
    margin: 0 auto;
    text-align: center;
  }
  .set-code {
    margin: 0 auto;
    width: 52vh;
  }
}

.self-destruct-modal {
  .countdown-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    input {
      font-size: 40px;
      text-align: center;
      background: black;
      color: white;
      border: solid 1px rgba(255, 255, 255, 0.5);
    }
    .divider {
      font-size: 40px;
    }
  }
}
@keyframes dangerAnimation {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}
