@import url("/css/font-awesome.min.css");
@import url('/css/fonts.css');

.cardContainer{
  max-width: 100%;
  height: 100%;
  width: 100%;
  position:absolute;
  align-self:center;
}
pre {
  background-color: transparent;
  padding: 0;
  word-break: break-word;
  white-space: pre-wrap;
}
.clickable:hover {
  cursor: pointer;
}
*:not(input) {
  user-select: none;

}

// Rotation Helpers

.ccw-90{
  transform: rotate(270deg);
}

.cw-90{
transform: rotate(90deg);
}

.cw-180{
transform: rotate(180deg);

}