.canvas-container {
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 255, 255, 0.1) 25%,
      rgba(255, 255, 255, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.1) 75%,
      rgba(255, 255, 255, 0.1) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(255, 255, 255, 0.1) 25%,
      rgba(255, 255, 255, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.1) 75%,
      rgba(255, 255, 255, 0.1) 76%,
      transparent 77%,
      transparent
    );
}
.canvas-area {
  flex: 4;
  width: 100%;
  margin-right: 20px;
  height: calc(100% - 40px);
}
