.slider-container {
  width: 150px;
  height: 600px;
  left: 200px;
  top: 20px;
  position: relative; }

.slider-bar {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center; }
  .slider-bar .numbers {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 40px; }
  .slider-bar .track {
    width: 8px;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    border-radius: 4px; }
  .slider-bar .slider-wrapper {
    position: absolute;
    height: 100%;
    width: 100%; }
  .slider-bar .slider {
    height: 30px;
    width: 100%;
    background-color: rgba(129, 0, 0, 0.9);
    border-radius: 10px;
    border: solid 3px rgba(255, 0, 0, 0.2);
    cursor: pointer; }
    .slider-bar .slider:active {
      cursor: grabbing; }
