.card-advanced-navigation .crystal-display {
  font-family: "LiquidCrystal", monospace;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 3px;
  text-align: center;
  flex-direction: row;
  justify-content: space-around; }

.card-advanced-navigation label {
  font-size: 24px; }

.card-advanced-navigation .ship-image {
  margin-top: 40px;
  margin-bottom: 40px; }

.card-advanced-navigation .col {
  position: relative; }

.card-advanced-navigation input[type="range"] {
  -webkit-appearance: none;
  width: 70vh;
  height: 2px;
  position: absolute;
  right: -20vh;
  top: 40vh;
  transform: rotate(270deg); }

.card-advanced-navigation input[type="range"]:focus {
  outline: none; }

.card-advanced-navigation input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 18.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1.2px rgba(0, 0, 0, 0.47), 0px 0px 1px rgba(13, 13, 13, 0.47);
  background: #bebebe;
  border-radius: 6px;
  border: 0.2px solid #000101; }

.card-advanced-navigation input[type="range"]::-webkit-slider-thumb {
  box-shadow: 2px 2px 7.2px #000000, 0px 0px 2px #0d0d0d;
  border: 1.6px solid #009e00;
  height: 100px;
  width: 24px;
  border-radius: 5px;
  background: #00be00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -40.85px; }

.card-advanced-navigation input[type="range"].warp::-webkit-slider-thumb {
  box-shadow: 2px 2px 7.2px #000000, 0px 0px 2px #0d0d0d;
  border: 1.6px solid #9e0000;
  height: 100px;
  width: 24px;
  border-radius: 5px;
  background: #be0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -40.85px; }

.card-advanced-navigation input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #e4e4e4; }

.card-advanced-navigation input[type="range"]::-moz-range-track {
  width: 100%;
  height: 18.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1.2px rgba(0, 0, 0, 0.47), 0px 0px 1px rgba(13, 13, 13, 0.47);
  background: #bebebe;
  border-radius: 6px;
  border: 0.2px solid #000101; }

.card-advanced-navigation input[type="range"]::-moz-range-thumb {
  box-shadow: 2px 2px 7.2px #000000, 0px 0px 2px #0d0d0d;
  border: 1.6px solid #009e00;
  height: 100px;
  width: 24px;
  border-radius: 5px;
  background: #00be00;
  cursor: pointer; }

.card-advanced-navigation input[type="range"].warp::-moz-range-thumb {
  box-shadow: 2px 2px 7.2px #000000, 0px 0px 2px #0d0d0d;
  border: 1.6px solid #9e0000;
  height: 100px;
  width: 24px;
  border-radius: 5px;
  background: #be0000;
  cursor: pointer; }

.card-advanced-navigation input[type="range"]::-ms-track {
  width: 100%;
  height: 18.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

.card-advanced-navigation input[type="range"]::-ms-fill-lower {
  background: #989898;
  border: 0.2px solid #000101;
  border-radius: 12px;
  box-shadow: 1px 1px 1.2px rgba(0, 0, 0, 0.47), 0px 0px 1px rgba(13, 13, 13, 0.47); }

.card-advanced-navigation input[type="range"]::-ms-fill-upper {
  background: #bebebe;
  border: 0.2px solid #000101;
  border-radius: 12px;
  box-shadow: 1px 1px 1.2px rgba(0, 0, 0, 0.47), 0px 0px 1px rgba(13, 13, 13, 0.47); }

.card-advanced-navigation input[type="range"]::-ms-thumb {
  box-shadow: 2px 2px 7.2px #000000, 0px 0px 2px #0d0d0d;
  border: 1.6px solid #009e00;
  height: 100px;
  width: 24px;
  border-radius: 5px;
  background: #00be00;
  cursor: pointer;
  height: 18.7px; }

.card-advanced-navigation input[type="range"]:focus::-ms-fill-lower {
  background: #bebebe; }

.card-advanced-navigation input[type="range"]:focus::-ms-fill-upper {
  background: #e4e4e4; }

@media (width: 1366px) {
  .card-advanced-navigation .ship-image {
    margin-top: 20px;
    margin-bottom: 20px; } }

.thruster-rotor {
  position: relative;
  height: 260px;
  width: 230px; }
  .thruster-rotor label {
    pointer-events: none; }
  .thruster-rotor .arrow {
    cursor: pointer;
    position: absolute;
    border-left: transparent 15px solid;
    border-right: transparent 15px solid;
    border-top: #888 15px solid;
    width: 0;
    height: 0;
    transform: translateX(100px) rotate(var(--thruster-rotation));
    transform-origin: 15px 115px; }
    .thruster-rotor .arrow:active {
      cursor: grabbing;
      border-top-color: #333; }
  .thruster-rotor .inner-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #777; }
    .thruster-rotor .inner-circle .angle-box {
      font-family: "LiquidCrystal", monospace;
      color: white;
      font-size: 33.33333px;
      width: 60%;
      background-color: #333;
      text-align: center;
      border: solid 2px rgba(255, 255, 255, 0.5);
      user-select: none; }
  .thruster-rotor label {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    user-select: none; }
