.damage-control, .damageReport-core {
  .card {
    height: 60vh;
    overflow: scroll;
  }
  p {
    margin: 0;
    padding: 4px;
    &.selected {
      background-color: rgba(128,128,128,0.5);
      border-radius: 5px;
    }
    &.requested {
      font-style: italic;
    }
    &.report {
      font-weight: bold;
    }
  }
  .damageReport-text {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 18px;
  }
  .reactivation-code {
    .card {
      height: 45vh;
    }
    .reactivation-code-entry {
      &.card {
        margin-top: 5px;
        height: 10vh;
        cursor: pointer;
        p {
          font-size: 20px;
        }
        p.code-entry {
          font-size: 29px;
          letter-spacing: 11px;
          text-align: center;
        }
      }
    }
  }

  h4 {
    font-size: 1.4rem;
  }
  button {
    font-size: 0.9rem;
  }
}

.reactivation-modal {
  .modal-body {
    padding: 0;
    margin: 0;
  }
  .flex-boxes {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    li {
      background-color: rgba(255,255,255,0.3);
      border: solid 1px rgba(255,255,255,0.5);
      font-size: 36px;
      list-style: none;
      display: inline-block;
      flex: auto;
      text-align: center;
      flex-wrap: wrap;
      padding: 10%;
      width: 30%;
      &:hover {
        background-color: rgba(255,255,255,0.1);
      }
      &:active {
        background-color: rgba(255,255,255,0.4);
      }
    }
  }
  .code-entry {
    font-size: 30px;
    padding-left: 20%;
    padding-top: 20px;
    height: 85px;
    background-color: rgb(0,0,0);
    letter-spacing: 20px;
  }
}

.damageReport-core {
  height: 100%;
  .row {
    height: 100%;
  }
}