@import url('https://fonts.googleapis.com/css?family=Teko:300');

.core {
  font-family: 'Teko', sans-serif;
  line-height: 16px;
  color: white;
  .input-field, .output-field, .typing-field {
    color: #000;
  }
  p{
    margin: 0;
    padding: 0;
  }
  .react-grid-item{
    border: solid 1px rgba(0,0,0,0.1);
    overflow: hidden;
    > span > div {
      height: 100%;
    }
    .clickable{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 20000;
    }
    .table {
      margin-bottom: 0;
    }
  }
  // Override some bootstrap stuff
  .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding-right: 2px;
    padding-left: 2px;
  }
  input:not([type="checkbox"]) {
    width: 100%;
  }
  .btn-sm {
    padding: 0rem 0.5rem;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .table-sm th, .table-sm td{
    padding: 0;
  }
  .btn-block + .btn-block {
    margin-top: 0;
  }
}