.planetary-scan {
  .scannerBox {
    left: 22vh;
    top: 22vh;
    width: 56vh;
    height: 56vh;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
  }
  .scannerBar {
    background: linear-gradient(
      to bottom,
      rgba(252, 227, 0, 0) 0%,
      rgba(247, 223, 27, 1) 50%,
      rgba(241, 218, 54, 0) 100%
    );
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    mix-blend-mode: overlay;
    animation-name: scannerVertical;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  .text-box {
    position: absolute;
    right: 0;
    width: 50vw;
    top: 10vw;
    font-size: 60px;
    margin: 30px;
    white-space: pre-line;
  }
}
.planetary-scan-config-image {
  display: block;
  border: solid 2px rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 50, 0.5);
  padding: 2px;
  border-radius: 5px;
  margin: 5px;
  width: 150px;
  height: 100px;
  object-fit: contain;
}
@keyframes scannerVertical {
  from {
    transform: translateY(-5vh);
  }
  to {
    transform: translateY(56vh);
  }
}
