.lrComm pre {
  white-space: pre-wrap; }

.lrComm .message-field {
  width: 100%;
  height: 20vh;
  margin-top: 25px;
  white-space: pre;
  overflow-y: scroll; }

.lrComm .card {
  list-style: none; }
  .lrComm .card li {
    padding: 2px;
    padding-left: 5px; }
  .lrComm .card .active {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px; }

.lrComm .decode-button {
  margin: 20px 0; }

.lrComm .rangeslider {
  margin: 2px 0px;
  background-color: #333;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
  .lrComm .rangeslider .rangeslider__handle {
    border: solid 1px #333; }
  .lrComm .rangeslider.alertColor5 .rangeslider__handle, .lrComm .rangeslider.alertColor4 .rangeslider__handle {
    background-color: #233F7A; }
    .lrComm .rangeslider.alertColor5 .rangeslider__handle::after, .lrComm .rangeslider.alertColor4 .rangeslider__handle::after {
      background-color: #182b52; }
  .lrComm .rangeslider.alertColor3 .rangeslider__handle {
    background-color: #4D4D16; }
    .lrComm .rangeslider.alertColor3 .rangeslider__handle::after {
      background-color: #25250b; }
  .lrComm .rangeslider.alertColor2 .rangeslider__handle {
    background-color: #804D19; }
    .lrComm .rangeslider.alertColor2 .rangeslider__handle::after {
      background-color: #553311; }
  .lrComm .rangeslider.alertColor1 .rangeslider__handle {
    background-color: #801919; }
    .lrComm .rangeslider.alertColor1 .rangeslider__handle::after {
      background-color: #551111; }
  .lrComm .rangeslider.alertColorp .rangeslider__handle {
    background-color: #4D1980; }
    .lrComm .rangeslider.alertColorp .rangeslider__handle::after {
      background-color: #331155; }

.lrComm .frequency-slider .rangeslider__fill {
  background-color: #922110; }

.comm-core {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .comm-core textarea {
    width: 100%;
    text-align: left;
    font-family: monospace;
    font-size: 11px;
    line-height: 1; }
