.card-decon {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  .stressHolder {
    position: absolute;
    right: 50%;
    left: calc(50% - 25px);
    border: solid 2px white;
    padding: 10px;
    height: 500px;
    width: 100px;
    position: relative;
  }
  .stressBar {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background-size: 5px 3px, 100%;
    background-color: red;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .aBar {
    position: absolute;
    top: 60%;
    right: 33%;
  }
  .mBar {
    position: absolute;
    top: 60%;
    right: 0%;
  }
  .bar-holder {
    width: 20vw;
  }
}
