@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

#layout-odyssey {
  background-color: black;
  color: white;
  font-family: "Bank Gothic";
  perspective: 900px;
  .perspectiveContainer {
    background-color: black;
    transition: transform 0.3s ease;
  }
  .perspectiveContainer.active {
    transform: translateZ(-208px) translateY(-800px)rotatex(-33deg);
  }
  .backdrop {
    top: 0;
    background: linear-gradient(0deg, #111 0%, rgba(0, 0, 0, 0) 35%, #444 100%);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 20%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .cardName {
      font-family: "Gamecuben";
      text-transform: uppercase;
      font-size: 30px;
      margin: 30px;
      &:hover {
        color: rgb(199, 156, 64);
      }
    }
  }
  svg {
    top: 0;
    z-index: 10;
  }
  .cardContainer {
    position: absolute;
    width: 92%;
    left: 4%;
    height: 77%;
    top: 12%;
    padding: 16px;
    position: absolute;
    align-self: center;
    overflow: hidden;
  }
  .frame-text {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    font-family: "Gamecuben";
    text-transform: uppercase;
  }
  .simulator-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .station-name {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .card-name {
    min-width: 400px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2),
      inset 3px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px 10px;
    border-radius: 20px;
    position: absolute;
    font-size: 25px;
    top: 7px;
    left: 10px;
    transition: background-color 0.3s ease;
    pointer-events: all;
  }
  .card-name:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  .btn {
    display: inline-block;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-family: "Bank Gothic";
    color: white;
    text-transform: uppercase;
    background-image: url("./lines.svg");
    background-size: 1px 4px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 1),
      inset 0px 0px 3px 1px rgba(255, 255, 255, 0.5);

    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);

    // Share hover and focus styles
    @include hover-focus {
      text-decoration: none;
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: $btn-focus-box-shadow;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      opacity: $btn-disabled-opacity;
      @include box-shadow(none);
    }

    // Opinionated: add "hand" cursor to non-disabled .btn elements
    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      //background-image: none;
      @include box-shadow($btn-active-box-shadow);

      &:focus {
        @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
      }
    }
  }

  // Future-proof disabling of clicks on `<a>` elements
  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
  }

  //
  // Alternate buttons
  //
  @mixin odyssey-button-variant($background, $border, $hover-background: darken($background, 10.5%), $hover-border: darken($border, 14%), $active-background: darken($background, 20%), $active-border: darken($border, 22.5%)) {
    color: color-yiq($background);
    @include gradient-bg($background);
    border-color: $border;
    @include box-shadow($btn-box-shadow);
  
    @include hover {
      color: color-yiq($hover-background);
      @include gradient-bg($hover-background);
      border-color: $hover-border;
    }
  
    &:focus,
    &.focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows {
        box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5);
      } @else {
        box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
      }
    }
  
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      color: color-yiq($background);
      background-color: $background;
      border-color: $border;
    }
  
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: color-yiq($active-background);
      background-color: $active-background;
      border-color: $active-border;
  
      &:focus {
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
          box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5);
        } @else {
          box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
        }
      }
    }
  }
  @each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include odyssey-button-variant($value, $value);
    }
  }

  .btn-default {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .btn-cloak {
    background-color: #4d1980;
  }
  input[type="text"],
  textarea {
    color: white;
  }
  .list-group-item {
    background-color: transparent;
  }
  pre {
    color: white;
  }
  .card,
  input[type="text"].form-control,
  textarea {
    background-image: url("./lines.svg");
    background-size: 1px 4px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 1),
      inset 0px 0px 3px 1px rgba(255, 255, 255, 0.5);
  }

  &.alertColor1 {
    .card,
    input[type="text"].form-control,
    textarea {
      background-color: #701919;
    }
  }
  &.alertColor2 {
    .card,
    input[type="text"].form-control,
    textarea {
      background-color: #704419;
    }
  }
  &.alertColor3 {
    .card,
    input[type="text"].form-control,
    textarea {
      background-color: #707019;
    }
  }
  &.alertColor4 {
    .card,
    input[type="text"].form-control,
    textarea {
      background-color: #18236f;
    }
  }
  &.alertColor5 {
    .card,
    input[type="text"].form-control,
    textarea {
      background-color: #18236f;
    }
  }
  &.alertColorp {
    .card,
    input[type="text"].form-control,
    textarea {
      background-color: #441970;
    }
  }
  .dropdown-toggle {
    overflow: hidden;
  }
  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);

    button {
      color: white;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      &:active,
      &:focus {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  .widgets {
    bottom: 25px;
    right: 30px;
    left: unset;
  }

  //Card Adjustments
  .shields .shieldControlBox {
    margin-top: 20px;
  }
  .frequencyContainer.card {
    background-color: black;
  }
  .cardSensors {
    width: 90%;
    margin: 0 auto;
    .list-group-item {
      padding: 0.2rem 1.25rem;
    }
  }
  .probe-construction .probeEquipment .card {
    max-height: 31vh;
  }
  .probe-network {
    width: 73%;
  }
  .long-range-comm pre {
    height: 28vh;
  }
  .EngineControl .heatBox {
    height: 48vh;
  }
  .cardThrusters .draggerContainer {
    margin-top: 10px;
  }
  .cardThrusters .draggerContainer .spacer {
    margin-top: calc(100% + 100px);
  }
  .cardThrusters .draggerCircle {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .cardThrusters .draggerBar {
    margin-top: 0;
  }
  .cardThrusters .indicatorCircles {
    margin-top: -100px;
  }
  .powerlevel-containers h5 {
    line-height: 0;
  }
}

.viewscreen {
  #layout-odyssey {
    .cardContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        width: 100%;
      }
    }
  }
}
