@import url('https://fonts.googleapis.com/css?family=Sarpanch:700');

.viewscreen-offline {
  z-index:10000; 
  position: fixed;
  .text {
    position: absolute;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
  }  
  h1 {
    color: red;
    font-family: Impact;
    text-shadow: 2px 2px 5px darkred;
    font-size: 80px;
    font-family: 'Sarpanch'
  }
  #canvas {
    background: radial-gradient(#fff, #666);
  }
}
