.intruder-monitoring h1 {
  margin-top: 120px;
  text-align: center;
  font-size: 70px; }

.intruder-monitoring .ship-view {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.intruder-monitoring .ship-view {
  position: relative; }
  .intruder-monitoring .ship-view .scanner-mask {
    height: 100%;
    -webkit-mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mix-blend-mode: overlay; }
  .intruder-monitoring .ship-view .scanner-holder {
    height: 100%;
    width: 100%;
    position: absolute;
    animation-name: intruderScan;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; }
  .intruder-monitoring .ship-view .scanner {
    width: 4%;
    height: 100%;
    background-color: red;
    box-shadow: 0px 0px 20px 5px red; }
  .intruder-monitoring .ship-view .parent {
    width: 100%;
    height: 100%;
    -webkit-mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    position: absolute; }
  .intruder-monitoring .ship-view .dot-holder {
    width: 100%;
    height: 100%;
    position: absolute; }
  .intruder-monitoring .ship-view .dot {
    width: 1px;
    height: 1px;
    margin: 15px;
    box-shadow: 0px 0px 42px 35px red;
    border-radius: 50%;
    background: red;
    animation-name: intruderDots;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; }

@keyframes intruderScan {
  0% {
    transform: translateX(-4%); }
  30% {
    transform: translateX(104%); }
  100% {
    transform: translateX(104%); } }

@keyframes intruderDots {
  0% {
    transform: scale(5);
    opacity: 0; }
  10% {
    transform: scale(1);
    opacity: 1; }
  55% {
    opacity: 1; }
  60% {
    transform: scale(1);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 0; } }
