.transwarp-core {
  text-align: right;
}
.card-transwarp {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  .quad2 {
    grid-column: 3;
  }
  .quad3 {
    grid-row: 2;
  }
  .quad4 {
    grid-row: 2;
    grid-column: 3;
  }
  .ship {
    grid-row: 1/3;
    grid-column: 2;
    img {
      object-fit: contain;
      transform: rotate(-90deg);
      width: 100%;
    }
  }
  .power {
    grid-row: 3/4;
    grid-column: 3;
  }
  .activate {
    grid-row: 4;
    grid-column: 2;
  }
}
